<?php
   /**
    * Copyright © 2015 Magento. All rights reserved.
    * See COPYING.txt for license details.
    */
   
   // @codingStandardsIgnoreFile
   
   /* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
   ?>
<?php
   switch ($type = $block->getType()) {
   
		case 'upsell':
			/** @var \Magento\Catalog\Block\Product\ProductList\Upsell $block */
			if ($exist = count($block->getItemCollection()->getItems())) {
				$type = 'upsell';
				$class = $type;

				$image = 'upsell_products_list';
				$title = __('upsell products');
				$items = $block->getItemCollection()->getItems();
				$limit = $block->getItemLimit('upsell');
				$shuffle = 0;

				$showWishlist = true;
				$showCompare = true;
				$showCart = true;
				$templateType = null;
				$description = false;
				$canItemsAddToCart = false;
			}
			break;
   
       case 'other':
       break;
   }
   ?>
<?php if ($exist):?>
<?php if ($type == 'related' || $type == 'upsell'): ?>
<?php if ($type == 'upsell'): ?>
<section class="block <?php echo $class; ?>" data-mage-init='{"relatedProducts":{"relatedCheckbox":".related.checkbox"}}' data-limit="<?php echo $limit; ?>" data-shuffle="<?php echo $shuffle; ?>">
<?php else: ?>
<section class="block <?php echo $class; ?>" data-mage-init='{"upsellProducts":{}}' data-limit="<?php echo $limit; ?>" data-shuffle="<?php echo $shuffle; ?>">
<?php endif; ?>
<?php else: ?>
<section class="block <?php echo $class; ?>">
   <?php endif; ?>
   <div class="container-upsell">
	<div class="rokan-product-heading rokan-upsell-heading">
      <h2 class="title-catthum"><span><?php echo $title; ?></span></h2>
	</div>
    
	<div class="block-content content" aria-labelledby="block-<?php echo $class?>-heading"> 
		<div id="upsell_product_slider" class="owl-carousel">
			<?php $iterator = 1; ?>
			<?php 
				$i = 0;
				$rows = 1;
			?>
			<?php foreach ($items as $_item): ?>
			<?php $available = ''; ?>  
			<?php
				$productImage = $block->getImage($_item, $image);
				
				
			?>
				<?php if ($i++%$rows==0) { ?>
				<div class="product-item">
					<div class="item-product">
						<?php } ?>
						<div class="content-item-product">
							<div class="product-thumb">
								<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link" tabindex="-1">
									<?php $productImageThumb = $block->getImage($_item, 'category_page_grid-1');?>
									<span class="first-thumb">
										<?php echo $productImage->toHtml(); ?>
									</span>
									<!--<span class="second-thumb">
										<?php /*echo $productImageThumb->toHtml(); */?>
									</span>-->
								</a>
								<div class="quickview-product">
									<a data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title="<?php echo __('Quick view');?>">Quickview</a>
								</div>
								<?php if ( $_item->getFinalPrice() < $_item->getPrice() ): ?>
									<span class="onsale">
										<span class="sale-bg"></span>
										<span class="sale-text"><?php echo __('Sale') ?></span>
									</span>
								<?php endif; ?>
								<?php $todayDate = time(); 
									$timeStartNew = strtotime($_item->getData('news_from_date'));
									$timeEndNew = strtotime($_item->getData('news_to_date')); ?>
								<?php if ( $timeEndNew >= $todayDate && $timeStartNew <= $todayDate): ?>
									<span class="newlabel">
										<span><?php echo __('New') ?></span>
									</span>
								<?php endif; ?>
							</div> 
							<div class="product-info">
								<h3 class="title-product">
									<a class="product-item-link" title="<?php echo $block->escapeHtml($_item->getName()) ?>" href="<?php echo $block->getProductUrl($_item) ?>">
									<?php echo $block->escapeHtml($_item->getName()) ?></a>
								</h3>
								<div class="info-price">
									<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item)) ?>
								</div>
								
								
							
								<div class="product-info-cart">
									<div class="actions-primary">
								          <?php if ($_item->isSaleable()): ?>
								          <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
								          <button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?php echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php echo __('Add to Cart') ?>">
								          <span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
								          </button>
								          <?php else: ?>
								          <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
								            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
								            ?>
								          <button class="btn-add-to-cart addcart-link"
								             data-post='<?php echo $postData; ?>'
								             type="button" title="<?php echo __('Add to Cart') ?>">
								          <span><?php echo $block->escapeHtml(__('Add to Cart')); ?></span>
								          </button>
								          <?php endif; ?>
								          <?php else: ?>
								          <?php if ($_item->getIsSalable()): ?>
								          <div class="stock available"><span><?php echo __('In stock') ?></span></div>
								          <?php else: ?>
								          <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
								          <?php endif; ?>
								          <?php endif; ?>
							         </div>
									<ul class="product-extra-link add-to-links">
										<li>
											<?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
												<a href="#"
												   data-post='<?php echo $block->getAddToWishlistParams($_item); ?>'
												   class="wishlist-link action towishlist" data-action="add-to-wishlist"
												   title="<?php echo __('Add to Wishlist') ?>">
													
												</a>
											<?php endif; ?>
										</li>
										<li>
											<?php if ($block->getAddToCompareUrl()): ?>
												<?php $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');?>
												<a href="#" class="compare-link action tocompare"
												   data-post='<?php echo $compareHelper->getPostDataParams($_item);?>'
												   title="<?php echo __('Add to Compare') ?>">
													
												</a>
											<?php endif; ?>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
						<?php if($i%$rows==0 || $i == count($items)) { ?> 
					</div> 
				</div> 
				<?php } ?>
			<?php endforeach ?>
		</div>
    </div> 
    </div> 
</section>
<?php endif;?>
<script type="text/javascript">
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';

		$( document ).ready(function() {	
			$("#upsell_product_slider").owlCarousel({
				items : 5,
				itemsDesktop : [1199, 4],
		        itemsDesktopSmall : [991,3],
		        itemsTablet : [768, 2],
		        itemsMobile : [479, 1],
			    navigation : true,
			     afterAction: function(el){
			     this.$owlItems.removeClass('first-active')
			     this.$owlItems .eq(this.currentItem).addClass('first-active')  
			    }
			});
		});
	});
</script>
