<div class="footer-search">
  <div class="form_search">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12 wp-form">
            <div class="text_form">Sign Up for Our Newsletter</div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 wp-field">
          <div class="form-newletter"> <?php  echo $this->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Newsletter::subscribe.phtml')->toHtml(); ?>
            
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<div id="footer" class="footer-container layout2 footer">
  <div class="container">
  	<?php echo $this->getChildHtml("footer_static"); ?>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <?php  echo $this->getLayout()->createBlock("Rokanthemes\Themeoption\Block\Customcss")->setTemplate("html/copyright.phtml")->toHtml() ?>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 authorize_custom">
      <!-- (c) 2005, 2018. Authorize.Net is a registered trademark of CyberSource Corporation --> 
      <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="4e8f922a-62dc-4c02-ab81-8b144811e25b";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net:443/anetseal/seal.js" ></script> 
      </div>
        <?php echo $this->getChildHtml("footer_payment"); ?>
      </div>
    </div>
  </div>
</div>
<div id="back-top" class="hidden-xs"><i class="fa fa-angle-up"></i></div>
