<script type='text/javascript'>
    require([
        'Rokanthemes_OpCheckout/js/model/addressFieldManager'
    ], function(addressFieldManager) {
        addressFieldManager.init(<?php echo $this->helper('Rokanthemes\OpCheckout\Helper\Config')->getAddressFieldsJsonConfig();?>);
    })
</script>
<ol class="one-step-checkout opcheckout-index-index three-columns-new-osc clearfix">
    <li id="checkout" data-bind="scope:'checkout'" class="checkout-container">
        <div id="checkout-loader" data-role="checkout-loader" class="loading-mask show" data-mage-init='{"checkoutLoader": {}}'>
            <div class="loader">
                <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                     alt="<?php /* @escapeNotVerified */ echo __('Loading...'); ?>"
                     style="position: absolute;">
            </div>
        </div>
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
            {
                "#checkout": {
                    "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
                }
            }
        </script>
        <script>
            window.checkoutConfig = <?php echo \Zend_Json::encode($block->getCheckoutConfig()); ?>;
            window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
            window.customerData = window.checkoutConfig.customerData;
        </script>
        <script>
            require([
                'mage/url',
                'Magento_Ui/js/block-loader'
            ], function(url, blockLoader) {
                blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
                return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
            })
        </script>
    </li>
</ol>
<script>
    /*Add function to check shipping state is valid or not*/
    function checkAddressCustom(){
        require(["jquery"],function($) {
            //
            jQuery(".loading-mask").toggle();
            jQuery('.loading-mask').attr('style', 'display: block !important;');

            jQuery("#opcheckout-button-place-order-quotable").hide();
            jQuery("#opcheckout-button-place-order-disablebtn").show();

            var region_id = document.getElementsByName("region_id");
            var selectedRegionId = jQuery(region_id).children("option:selected").val();

            var customerEmail =jQuery("#customer-email").val();

            var firstname = document.getElementsByName("firstname");
            var selectedFirstname = jQuery(firstname).val();

            var lastname = document.getElementsByName("lastname");
            var selectedLastname = jQuery(lastname).val();

            var telephone = document.getElementsByName("telephone");
            var selectedTelephone = jQuery(telephone).val();

            var street = document.getElementsByName("street[0]");
            var selectedStreet = jQuery(street).val();

            var street1 = document.getElementsByName("street[1]");
            var selectedStreet1 = jQuery(street1).val();

            var street2 = document.getElementsByName("street[2]");
            var selectedStreet2 = jQuery(street2).val();

            var city = document.getElementsByName("city");
            var selectedCity = jQuery(city).val();

            var postcode = document.getElementsByName("postcode");
            var selectedPostcode = jQuery(postcode).val();

            $.ajax({
                showLoader: true,
                url: "<?php echo $this->getUrl().'quoteble/index'?>",                
                type: "POST",
                data: {
                    'state_id': selectedRegionId,
                    'emailId': customerEmail,
                    'firstName': selectedFirstname,
                    'lastName': selectedLastname,
                    'tel': selectedTelephone,
                    'city': selectedCity,
                    'postcode': selectedPostcode,
                    'street': selectedStreet,
                    'street1': selectedStreet1,
                    'street2': selectedStreet2
                },
                dataType: 'json'
            }).done(function (data) { //alert(data.status);
                if(data.status==1){//Place Order
                    jQuery( "#opcheckout-button-place-order" ).click();
                }else if(data.status==3){//Place Order
                    jQuery("#opcheckout-button-place-order-quotable").show();
                    jQuery("#opcheckout-button-place-order-disablebtn").hide();
                    jQuery( "#opcheckout-button-place-order" ).click();

                }else if(data.status==4){//Email Id not correct
                    alert("Please check email id");
                }else if(data.status==0){//Request for quote
                  jQuery(".loading-mask").toggle();
                    jQuery('.loading-mask').attr('style', 'display: block !important;');
                    $.ajax({
                        showLoader: true,
                        url: "<?php echo $this->getUrl().'quoteble/sendquote'?>",
                        type: "POST",
                        async:false,
                        data: {
                            'state_id': selectedRegionId,
                            'emailId': customerEmail,
                            'name': selectedFirstname +' '+selectedLastname,
                            'tel': selectedTelephone
                        },
                        dataType: 'json'
                    }).done(function (data1) {
                        if(data1.status==1){
                            jQuery(".loading-mask").toggle();
                            jQuery('.loading-mask').attr('style', 'display: none !important;');
                            window.location=data1.redirectUrl;
                        }else{
                            jQuery(".loading-mask").toggle();
                            jQuery('.loading-mask').attr('style', 'display: none !important;');
                            alert("Error, Please contact us.");
                        }
                    });
                }else{
                    //jQuery( "#opcheckout-button-place-order" ).click();
                }
                jQuery(".loading-mask").toggle();
                jQuery('.loading-mask').attr('style', 'display: none !important;');
                jQuery("#opcheckout-button-place-order-quotable").show();
                jQuery("#opcheckout-button-place-order-disablebtn").hide();
            });
        });
    }

    /*get quoteble item in checkout review*/
    require(["jquery"],function($) {
        $( window ).load(function() {
            if($('#customQuoteCheckout').is(':visible')){ //if the container is visible on the page
                jQuery("#customQuoteCheckout").append(window.checkoutConfig.quotebleData);
            } else {
                    setTimeout(showQuotecheckout, 2000); //wait 2000 ms, then try again
            }
        });
    });

    function showQuotecheckout(){
        require(["jquery"],function($) {
            if($('#customQuoteCheckout').is(':visible')){ //if the container is visible on the page
                jQuery("#customQuoteCheckout").append(window.checkoutConfig.quotebleData);
            } else {
                setTimeout(showQuotecheckout, 50); //wait 50 ms, then try again
            }
        });
    }

    function updateqtyCheckout(id,qty) {
        require(["jquery"], function ($) {
            var pid = id;
            jQuery(".loading-mask").toggle();
            jQuery('.loading-mask').attr('style', 'display: block !important;');
            $.ajax({
                showLoader: true,
                url: "<?php echo $this->getUrl() . 'checkout/sidebar/updateItemqty'?>",
                type: "POST",
                async:false,
                data: {
                    form_key: jQuery.cookie('form_key'),
                    item_id: pid,
                    item_qty: qty
                },
                dataType: 'json'
            }).done(function (data) {
            });
        })
    }
    function deleteQuoteCheckout(id,confirmMessage=1) {

        require([
            'jquery',
            'mage/translate',
            'Magento_Ui/js/modal/confirm',
            "mage/template",
        ], function ($, $t, confirm, mageTemplate) {
            if(confirmMessage==1){
                confirm({
                    content: $t("Are you sure you would like to remove this item from the shopping cart?"),
                    modalClass: "classModal",
                    actions: {
                        confirm: function () {
                            jQuery(".loading-mask").toggle();
                            jQuery('.loading-mask').attr('style', 'display: block !important;');
                            jQuery(".modals-wrapper").hide();
                            $.ajax({
                                showLoader: true,
                                url: "<?php echo $this->getUrl().'checkout/sidebar/removeItem'?>",
                                type: "POST",
                                async:false,
                                data: {
                                    form_key: jQuery.cookie('form_key'),
                                    item_id: id
                                },
                                dataType: 'json'
                            }).done(function (data) {
                                $( "body" ).removeClass("_has-modal");
                                $("#delete_quoteble_"+id).parent('div').remove();
                            });
                        }
                    }
                });
            }else{/*If remove when qty is 0*/
                jQuery(".loading-mask").toggle();
                jQuery('.loading-mask').attr('style', 'display: block !important;');
                jQuery(".modals-wrapper").hide();
                $.ajax({
                    showLoader: true,
                    url: "<?php echo $this->getUrl().'checkout/sidebar/removeItem'?>",
                    type: "POST",
                    async:false,
                    data: {
                        form_key: jQuery.cookie('form_key'),
                        item_id: id
                    },
                    dataType: 'json'
                }).done(function (data) {
                    $( "body" ).removeClass("_has-modal");
                    $("#delete_quoteble_"+id).parent('div').remove();
                });
            }

        });
    }
</script>
<style>
    #opcheckout-button-place-order-disablebtn{
        display: none;
        background-color:#f4f4f4 !important;
        color:#000 !important;
    }
    #opcheckout-button-place-order-disablebtn:hover,#opcheckout-button-place-order-disablebtn span{
        color:#000 !important;
        background-color:#f4f4f4 !important;
        cursor: not-allowed;
    }
</style>
<script>
    function addQtyCustom(id){
        require(["jquery"], function ($) {
           var itemQty= $('.'+id+'-quoteqty-mini').val();
            $('.'+id+'-quoteqty-mini').val(+$('.'+id+'-quoteqty-mini').val() + 1);
            updateqtyCheckout(id,$('.'+id+'-quoteqty-mini').val())
        });
    }
    function minuesQtyCustom(id){
        require(["jquery"], function ($) {
            var itemQty= $('.'+id+'-quoteqty-mini').val();
            if(itemQty > 1){
                $('.'+id+'-quoteqty-mini').val(+$('.'+id+'-quoteqty-mini').val() - 1);
                updateqtyCheckout(id,$('.'+id+'-quoteqty-mini').val())
            }else{
                deleteQuoteCheckout(id,0);
            }
        });
    }
</script>