/* CSS Document */
#mailcotentarea {
	align-items: baseline;
	background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
	bottom: 0;
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 15001;
}
#mailcotentarea #maincontent {
	background-color: white;
	margin: 50px auto 0;
	max-width: 100%;
	padding: 10px 20px;
	width: 30%;
	min-width: 320px;
}
#mailcotentarea #maincontent #closesection {
	text-align: right;
}
#mailcotentarea #maincontent #closebtndiv {
	background: url("../images/close.png") no-repeat scroll 0 0;
	cursor: pointer;
	height: 50px;
	width: 35px;
	display: inline-block;
	float: right;
}
#mailcotentarea #maincontent .page-title h1 {
	margin-top: 8px;
}
#mailcotentarea #maincontent .fieldset ul li textarea {
	width: 100%;
}
#mailcotentarea #maincontent .fieldset img {
	display: inline;
	visibility: hidden;
}
.status{
	color:white;
	padding:10px;
	border-radius: 9px;
	text-align: center;
	
}
.sent{
	background-color:#FF8804;
}
.clicked{
	background-color:#16B769;
}
.orderd{
	background-color:#a5a8bb
}
#quote-table tr td,#quote-table tr th {
	border: 1px solid #e0e0e0;
}
#quote-table tr th{
	text-align: center;
}
.td-comment {
	width: 40%;
}
.td-sku {
	width: 20%;
}
.td-status {
	width: 10%;
	text-align: center;
}
.td-total {
	width: 10%;
}
.not-quote{
	text-align: center;
	font-size: 20px;
	font-weight: bold;

}
