<?php 
	$data = $block->getConfig();
    $_helper = $this->helper('Rokanthemes\Themeoption\Helper\Themeconfig');
?>
<?php
    $charSubset = ",latin-ext";
    $font_sizes = "%3A300%2C300italic%2C400%2C400italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic";
?>
<?php if (isset($data['font']['custom']) && $data['font']['custom'] && $data['font']['font_family'] == 'google'): ?>
<link rel="stylesheet" media="all" href='//fonts.googleapis.com/css?family=<?php echo str_replace(' ', '+', $data['font']['google_font_family']).$font_sizes; echo $charSubset; ?>' type='text/css' />
<?php else: ?>
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,700" media="all" rel='stylesheet' type='text/css'/>
<?php endif;?>
<link rel="stylesheet" type="text/css" media="all" href="<?php echo $_helper->getThemeOption()?>" />
<?php if (isset($data['general']['enable_preloaded']) && $data['general']['enable_preloaded'] == 1){ ?>
<style type="text/css">
#loading-fixed{ background-color: #bbbbbb; height: 100%; width: 100%; position: fixed; z-index: 999999; margin-top: 0px; top: 0px; } #loading-center-fixed{ width: 100%; height: 100%; position: relative; } #loading-center-absolute-fixed { position: absolute; left: 50%; top: 50%; height: 200px; width: 200px; margin-top: -100px; margin-left: -100px; -ms-transform: rotate(-135deg); -webkit-transform: rotate(-135deg); transform: rotate(-135deg); } .object-fixed{ -moz-border-radius: 50% 50% 50% 50%; -webkit-border-radius: 50% 50% 50% 50%; border-radius: 50% 50% 50% 50%; position: absolute; border-top: 5px solid #FFF; border-bottom: 5px solid transparent; border-left: 5px solid #FFF; border-right: 5px solid transparent; -webkit-animation: animate 2s infinite; animation: animate 2s infinite; } #object_one{ left: 75px; top: 75px; width: 50px; height: 50px; } #object_two{ left: 65px; top: 65px; width: 70px; height: 70px; -webkit-animation-delay: 0.2s; animation-delay: 0.2s; } #object_three{ left: 55px; top: 55px; width: 90px; height: 90px; -webkit-animation-delay: 0.4s; animation-delay: 0.4s; } #object_four{ left: 45px; top: 45px; width: 110px; height: 110px; -webkit-animation-delay: 0.6s; animation-delay: 0.6s; } @-webkit-keyframes animate { 50% { -ms-transform: rotate(360deg) scale(0.8); -webkit-transform: rotate(360deg) scale(0.8); transform: rotate(360deg) scale(0.8); } } @keyframes animate { 50% { -ms-transform: rotate(360deg) scale(0.8); -webkit-transform: rotate(360deg) scale(0.8); transform: rotate(360deg) scale(0.8); } }
</style>
<?php } ?>
<style type="text/css">
	.nav-open .nav-sections { position: fixed; }
	div.logo { display : inline; }
	.brand-item {
	    display: inline-block;
	    margin-right: 10px;
	    margin-bottom: 10px;
	    text-align: left;
	}
	.brand-item a {
	    display: block;
	    font-size: 11px;
	    text-align: center;
	}
	.brand-item a img {
	    max-width: 100px;
	    border: 1px solid #eee;
	}
		.block-content .brand-item a img  {
		max-width: 100%;
	}
	.product-tab .list-tab-product.common-tab-system-fixed .tab_container .owl-controls .owl-buttons > div,
	.section-featured-categories .owl-theme .owl-controls .owl-buttons > div {
		top: 30px;
	}
	.hot-deal-slide.owl-theme .owl-buttons,
	.wrapper_slider  .owl-theme .owl-buttons { position: unset; }
	.owl-theme .owl-controls .owl-buttons > div:hover {
		color: #fff;
		background: #30bbef;
		border-color: #30bbef;
	}
	.section-featured-categories .owl-theme .owl-buttons,
	.product-tab .list-tab-product.common-tab-system-fixed .tab_container .owl-controls .owl-buttons {
		 top:-78px; 
	}
	.owl-theme .owl-buttons { top: -6px; }
	.fancybox-opened .fancybox-skin { padding: 30px !important; }
	.fancybox-wrap .action_button {
	    margin-top: 30px;
	}
	.action_button .button.btn-viewcart {
		padding: 15px 20px;
	    border-radius: 4px;
	}
	.popup_avaiable a {
		color: #30bbef;
	}
	.popup_avaiable .action_button ul li {
		margin-top: 20px;
	}
	.action_button .button, input[type=submit], button {
		background: #30bbef;
		color: #fff;
		border: 0;
		font-weight: 700;
		font-size: 14px;
		padding: 5px 20px;
	}
	.message.info.empty {
		margin: 20px;
	}
	.customer-account-login .page-title-wrapper { margin-bottom: 20px; }
	.customer-account-login .page-main .columns {
		margin-bottom: 20px;
	}
	.abs-shopping-cart-items .action.update:before, 
	.block-cart-failed .action.update:before, 
	.cart-container .form-cart .action.update:before {
		line-height: 35px;
	}
	.block-minicart .block-content > .actions .viewcart span {
		color: #FF5A36 !important;
	}
	.block-minicart .block-content > .actions .viewcart {
		font-size: 14px;
		padding: 13px 17px;
		background-color: #222222 !important;
		background: #222222 !important;
		border-color: #222222 !important;
		color: #FF5A36 !important;
		border-radius: 4px;
	}
	.block-minicart .block-content > .actions .viewcart:hover span {
		color: #FFFFFF !important;
	}
	.block-minicart .block-content > .actions .viewcart:hover {
		background-color: #888888 !important;
	    background: #888888 !important;
	    border-color: #888888 !important;
	    color: #FFFFFF !important;
	}
	.block-minicart .block-content > .actions > .primary .action.primary,
	.cart-container .checkout-methods-items .action.primary {
		font-size: 14px;
		padding: 8px 17px;
	}
	.block, .sidebar .widget.block:not(:last-child), 
	.sidebar .widget:not(:last-child), .block-banners, .block-banners-inline { line-height: 22px; }
	.sort-pagi-bar-bottom .toolbar-products .pages .pages-items .item.current strong, 
	.sort-pagi-bar-bottom .toolbar-products .pages .pages-items .item a:hover {
	    border-color: #81be41;
	    background: #81be41;
	    color: #fff;
	}
	.sort-pagi-bar-bottom .toolbar-products .pages .pages-items .item.current strong span,
	.sort-pagi-bar-bottom .toolbar-products .pages .pages-items .item a:hover span { color: #fff !important; }
	.main-nav > ul > li.menu-item-has-children > a::after {
	    color: #fff;
	}
	.one-step-checkout h3 {
		background: #81be41;
		color: #fff !important;
	}
	.toolbar-products .modes .modes-label { display: none; }
	
	.custommenu.navigation li.level0.fullwidth > .submenu {
		padding: 0;
	}
	.navigation.custommenu.main-nav ul li a:hover span {
		color: #9ad85b !important;
	}
	.title-cat-mega-menu {
	    border-left: 3px solid #9ad85b;
	}
	.banner_item_bg { position:relative; }
	.banner_item_bg #banner-caption {
	    position: absolute;
		top: 50%;
		left: 15%;
		
		-moz-transform: translateX(-15%) translateY(-50%);
		-webkit-transform: translateX(-15%) translateY(-50%);
		-o-transform: translateX(-15%) translateY(-50%);
		-ms-transform: translateX(-15%) translateY(-50%);
		transform: translateX(-15%) translateY(-50%);
	}
	
	.verticalmenu.navigation.side-verticalmenu > ul li.level0.hide-web-show-on-mobile { display: none; }
	.fieldset > .field:not(.choice) > .control,
	.fieldset > .field:not(.choice) > .label{
		width: 100%;
		margin-bottom: 20px;
	}
	.actions-toolbar > .primary:last-child, .actions-toolbar > .secondary:last-child {
		float: right;
	}
	body .action_button .button, input[type=submit], button {
		background: #f4f4f4;
	}
	body .action_button .button, input[type=submit], button:hover {
		background: #9ad85b;
	}
	body .action_button .button.btn-viewcart span {
		color: #000 !important;
	}
	body .action_button .button.btn-viewcart:hover span {
		color: #FFFFFF !important;
	}
	body .action_button .button, input[type=submit], button,
	body .action_button .button.btn-viewcart,
	body .cart.table-wrapper .actions-toolbar > .action {
		padding: 0 23px;
		line-height: 35px;
	}
	body .block-minicart .block-content > .actions .viewcart span {
	    color: #000 !important;
	}
	body .block-minicart .block-content > .actions .viewcart {
	    background-color: #f4f4f4 !important;
	    background: #f4f4f4 !important;
	    border-color: #f4f4f4 !important;
	    color: #000 !important;
	    padding: 9px 15px;
	}
	body .block-minicart .block-content > .actions .viewcart:hover span {
		 color: #FFFFFF !important;
	} 
	body .block-minicart .block-content > .actions .viewcart:hover { 
		background-color: #9AD85B !important;
	    background: #9AD85B !important;
	    border-color: #9AD85B !important;
	    color: #FFFFFF !important;
	}
	.custommenu.navigation li.level0 > .level-top{
		color: #fff !important;
	}
	body button#add_coupon_code_button {
		margin-top: 21px;
	}
	body .one-step-checkout h1.checkout_header:before {
		border-top: 3px solid #9AD85B;
	}
	.smart-search-form {
		overflow: unset;
	}
	.footer-search .newsletter-footer > form {
	    max-width: 100%;
	    padding-right: 0;
	}
	.footer-search  .newsletter-footer input[type="email"] {
		line-height: 100px;
	    width: 100%;
	    height: 50px !important;
	    margin: 25px 0;
	    padding-left: 25px;
	    border-radius: 4px !important;
	    font-family: 'Lato', sans-serif;
	    font-size: 14px;
	    font-weight: 400;
	    color: #71737a;
	}
	.footer-search  .newsletter-footer button.action {
		position: absolute;
	    top: 25px;
	    right: 0;
	    padding: 7px 45px;
	    line-height: 36px;
	    background: #9AD85B !important;
	    text-transform: uppercase;
	    border: none;
	    font-family: 'Poppins', sans-serif;
	    font-size: 14px;
	    font-weight: 600;
	    color: #fff !important;
	    height: auto;
	    border-radius: 4px;
	}
	.footer-search  div.mage-error[generated] {
	    font-size: 12px;
	    position: absolute;
	    bottom: 6px;
	    color: #fff !important;
	}
	body .product-slider-wrapper { overflow: hidden; }
	.info-qty a:hover {
		background: #9AD85B;
	}
	.info-qty a:hover i { 
		color: #fff !important;
	}
	
	.product-view .product-social-extra a:hover, .wrapper_quickview_item .product-social-extra a:hover{
		background: #9ad85b;
	}
	.product-view .product-social-extra a:hover i, .wrapper_quickview_item .product-social-extra a:hover i{
	    color: #fff !important;
	}
	.addcart-link:hover i {
		color: #fff !important;
	}
	.block-order-details-view .block-title {
		margin-bottom: 20px;
	}
	.block-order-details-view .block-title strong{
	    font-size: 24px;
		font-weight: 100;
	}
	.block-order-details-view .block-content .box {
		margin: 20px 0 15px 0;
		float: left;
		width: 50%;
		overflow: hidden;
		min-height: 140px;
	}
	.block-order-details-view .block-content .box  .box-title span{
		font-size: 24px;
		font-weight: 700;
	}
	@media (min-width: 768px){
		.checkout-payment-method .payment-method-content .fieldset > .field.type .control {
			margin-left: 0;
		}
		.custommenu.navigation li.level0.fullwidth {
		    position: relative;
		}
		.fieldset > .field.choice:before, .fieldset > .field.no-label:before {
			display: none;
		}
	}
	@media (max-width: 991px){
		.footer-search .form_search .container .row .text_form {
			line-height: 50px;
		}
		.footer-search .newsletter-footer input[type="email"] {
			margin: 0 0 25px 0;
		}
		.footer-search .newsletter-footer button.action {
			top: 0;
		}
	}
	@media (max-width: 767px){
		.checkout-index-index .nav-sections, .checkout-index-index .nav-toggle { display: block; }
		.verticalmenu.navigation.side-verticalmenu > ul li.level0.hide-web-show-on-mobile { display: block; }
		.header-container .header-content .minicart-wrapper .product .actions {
			top: auto;bottom: 0;
		}
		.header-control {
			background: transparent !important;
		}
		.title-catthum,
		.wrapper-bestseller.cat h4,
		.section-bestseller .categorytab-container .computer-laptop {
			width: 100%;
		}
		.header-mini-cart .total-mini-cart-item {
			top: -2px;
		    left: -15px;
		}
		.navigation .level0 > .level-top {
			font-weight: 400;
		}
		page-footer .footer-container {
		    padding-top: 0;
		}
		.search-autocomplete { display: none !important; }
		body .cart.table-wrapper .product-item-photo {
			position: unset;
		}
		.cart-container .form-cart .action.update, 
		.cart-container .form-cart .action.clear,
		.cart-container .form-cart .action.continue{
			width: 100%;
		}
		.payment-method, .payment-method fieldset {
			width: 100%;
		}
		.block-dashboard-info .box-information,
		.block-dashboard-info .box-newsletter,
		.block-dashboard-addresses .box-billing-address,
		.block-dashboard-addresses .box-shipping-address {
		    float: none;
		    clear: left;
		    width: 100%;
		    margin-bottom: 20px;
		}
	}
	
	@media (max-width: 480px){
		.product-tab, .hot-deal, .group-product, .banner-middle, .section-bestseller, .section-brands, .list-service, .page-footer, .footer-container, .footer-bottom {
			margin-top: 50px;
		}
		.footer-bottom {
			margin-top: 0;
		}
		.footer-search .form_search .container .row .text_form {
			font-size: 18px;
		}
		.product.info.detailed .product.data.items .review-add {
			float: left;
			width: 100%;
		}
		.fotorama {
			padding-bottom: 20px;
		}
		.fotorama__caption { opacity: 0; }
		.footer-search .newsletter-footer button.action {
			    padding: 7px 30px;
		}
	}
	@media (max-width: 414px){
		.toolbar-products .toolbar-amount{
			width: 100%;
			margin-top: 20px;
		}
		.toolbar-products .sorter {
			width: 100%;
			margin-left: 0;
		    margin-top: 20px;
		}
	}
	@media (max-width: 320px){
		.footer-search .newsletter-footer button.action {
			padding: 7px 20px;
		    font-size: 12px;
		    font-weight: 400;
		}
		.search-autocomplete {
		    left: 50px;
		}
	}
	@media (max-width: 767px){
		.search-autocomplete {
		    display: block !important; 
		    margin-top: 0;
		}
		.modes-mode > span {
		    border: 0;
		    clip: rect(0, 0, 0, 0);
		    height: 1px;
		    margin: -1px;
		    overflow: hidden;
		    padding: 0;
		    position: absolute;
		    width: 1px;
		}
		.modes {
			display: inline-block;
		}
		.toolbar-products .sorter-options {
			margin: 0 0 0 7px;
		}
		.toolbar-products .toolbar-amount {
		   padding: 0 15px;
		}
	}
	@media (max-width: 375px){
		.attr-info .addcart-link, .product-social-extra {
		    margin: 10px 0 0 58px;
		}
	}
</style>
