<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
   /*Grid*/
        /**
         * Position for actions regarding image size changing in vde if needed
         */
        $pos = $block->getPositioned();
    ?>
    <div class="rokan-category-special rokan-category-top-rate">
        <div class="rokan-product-heading rokan-category-special-heading"><h2><?php echo __('Top Rated')?></h2></div>
        <?php $iterator = 1; 
            $i = 0;
            $rows = 3; ?>
        <ul class="owl">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php if($i++ %$rows == 0) echo "<li class='item special-item'>"; ?>
                <div class="product-item" data-container="product-grid">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                            . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php // Product Image ?>
                    <div class="product-thumb pull-left">
                        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
                            <?php $productImageThumb = $block->getImage($_product, 'category_page_grid-1');?>
                            <span class="first-thumb">
                                <?php echo $productImage->toHtml(); ?>
                            </span>
                            <!--<span class="second-thumb">
                                <?php /*echo $productImageThumb->toHtml(); */?>
                            </span>-->
                        </a>
                    </div>
                    <div class="product-info">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <h3 class="product-name">
                            <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
                                <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </h3>
                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType); ?>
                        <?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product)) ?>
                    </div>
                </div>
                <?php if($i == $rows || $i == count($_productCollection)) echo '</li>'; ?>
            <?php endforeach; ?>
        </ul>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
        
    <?php endif; ?>
    <script type="text/javascript">
        require([
            'jquery',
            'mage/mage',
            'rokanthemes/owl'
        ], function ($) {
            'use strict';

            jQuery(".rokan-category-top-rate .owl").owlCarousel({
                autoPlay : false,
                items : 1,
                itemsDesktop : [1199,1],
                itemsDesktopSmall : [980,1],
                itemsTablet: [768,1],
                itemsMobile : [479,1],
                slideSpeed : 500,
                paginationSpeed : 500,
                rewindSpeed : 500,
                navigation : true,
                stopOnHover : true,
                pagination :false,
                scrollPerPage:true,
            });
        });
    </script>
<?php endif; ?>
