<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
    $_finalVal = '';
    $_diemensions = '';
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('More Information') ?></caption>
            <tbody>
            <?php foreach ($_additional as $_data):
                    if(in_array($_data['code'], array('plm','plm_short_desc'))) :                        
                        if($_data['code'] == 'plm_short_desc'):
                            $_finalVal .= ": ";
                            $_finalVal .= $_helper->productAttribute($_product, $_data['value'], $_data['code']);
                        else:
                            $_finalVal .= $_helper->productAttribute($_product, $_data['value'], $_data['code']);
                        endif;
                    endif;

                    if(in_array($_data['code'], array('ts_dimensions_height','ts_dimensions_length','ts_dimensions_width'))) :                        
                        if($_data['code'] == 'ts_dimensions_length' || $_data['code'] ==  'ts_dimensions_width'):
                            $_diemensions .= number_format($_helper->productAttribute($_product, $_data['value'], $_data['code']),2);
                            $_diemensions .= " x ";
                        else:
                            $_diemensions .= number_format($_helper->productAttribute($_product, $_data['value'], $_data['code']),2);
                        endif;
                    endif;

                endforeach;
                ?>
            <?php foreach ($_additional as $_data):
                if(!in_array($_data['code'], array('plm','plm_short_desc','ts_dimensions_height','ts_dimensions_length','ts_dimensions_width'))):
            ?>
                <tr>
                    <th class="col label" scope="row"><?= $block->escapeHtml(__($_data['label'])) ?></th>
                    <td class="col data" data-th="<?= $block->escapeHtml(__($_data['label'])) ?>"><?= /* @escapeNotVerified */ $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></td>
                </tr>
            <?php 
                else: 
                    if($_data['code'] == 'plm'):
            ?>
                <tr>
                    <th class="col label" scope="row"><?= $block->escapeHtml(__($_data['label'])) ?></th>
                    <td class="col data" data-th="<?= $block->escapeHtml(__($_data['label'])) ?>"><?= /* @escapeNotVerified */ $_finalVal; ?></td>
                </tr>
            <?php 
                    else:
                        if($_data['code'] == 'ts_dimensions_height'):
            ?>
                    <tr>
                        <th class="col label" scope="row"><?= $block->escapeHtml(__("Packaging Dimensions")) ?></th>
                        <td class="col data" data-th="<?= $block->escapeHtml(__($_data['label'])) ?>"><?= /* @escapeNotVerified */ $_diemensions; ?></td>
                    </tr>
            <?php
                        endif;
                    endif;
                endif;
            endforeach; ?>
            </tbody>
        </table>
    </div>
<?php endif;?>
