/**
 * custom theme 2018-07-12 05:15:20 */

#newsletter_pop_up{
width: 800px;height: 612px;background-color: #FFFFFF;background-image: url(http://206.196.17.245/pub/media/rokanthemes/newsletter/background/default/logo_popup_03_2_1.png);background-repeat: no-repeat;
background-position:  50% 19%;}
html, body , label, a,.copyright{ 
    font-size: 14px !important; 
	font-family: Poppins !important;
}
html,body, p, span, h1, h2, h3, h4, h5, h6, tr, td, i, span, label, div, input {
	color:#888888 !important;
}
a, a:focus, a span, a i {
	color:#222222 !important;
}
a:hover, a:hover span{ 
	color:#888888 !important;
}
.btn, .action.primary, .block-cart-failed .action.continue, .cart-container .form-cart .action.continue, .cart.table-wrapper .action-gift, .product-thumb .quickview-product a,
.cart.table-wrapper .actions-toolbar>.action, .review-form .action.submit.primary, button, #back-top i{
		background-color:#F4F4F4 !important;
	background:#F4F4F4 !important;
    border-color:#F4F4F4 !important;
			color:#000000 !important;
		
}
.btn span, .action.primary, #back-top i, .product-thumb .quickview-product a, .block-cart-failed .action.continue span, .cart-container .form-cart .action.continue span, .cart.table-wrapper .action-gift span, .cart.table-wrapper .actions-toolbar>.action span, .review-form .action.submit.primary span, button span{
		color:#000000 !important;
	}
.btn:hover, .action.primary:hover, #back-top i:hover,.product-thumb .quickview-product a:hover,
.block-cart-failed .action.continue:hover, .cart-container .form-cart .action.continue:hover, .cart.table-wrapper .action-gift:hover, .cart.table-wrapper .actions-toolbar>.action:hover, .review-form .action.submit.primary:hover, button:hover{
		background-color:#9AD85B !important;
	background:#9AD85B !important;
    border-color:#9AD85B !important;
			color:#FFFFFF !important;
	}
.btn:hover, .section-bestseller .categorytab-container .vc_tta-tabs-container .tabs li, .action.primary:hover span, .block-cart-failed .action.continue:hover span, .cart-container .form-cart .action.continue:hover span, .cart.table-wrapper .action-gift:hover span, .cart.table-wrapper .actions-toolbar>.action:hover span, .review-form .action.submit.primary:hover span, button:hover span{
		color:#FFFFFF !important;
	}
