<?php 
use Magento\Framework\App\Action\Action;
if($this->getConfig('enabled')){ // start enable module?>
	<?php $_productCollection = $this->getProducts();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
	?>
	<div class="rokan-bestseller">
		
		<?php			
			if ($block->getMode() == 'grid') {
				$viewMode = 'grid';
				$image = 'category_page_grid';
				$showDescription = false;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
			} else {
				$viewMode = 'list';
				$image = 'category_page_grid-1';
				$showDescription = true;
				$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
			}
			$pos = $block->getPositioned();
			
		?>
		<?php if($this->getConfig('title')){?>
			<div class="rokan-product-heading rokan-bestseller-heading"><h2><?php echo $this->getConfig('title')?></h2></div>
		<?php }?>
		<?php if(!$_productCollection->getSize()): ?> 
			<div class="rokan-featured-slider">	
				<p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
			</div>
		<?php else: ?>
			<?php
			$rows = $this->getConfig('row_show');
			?>	
			<div class="content-bestseller">
				<div class="wrap-item">
					<?php foreach ($_productCollection as $_product){ ?>
					<?php 
						$productImage = $block->getImage($_product, $image);
					?>
					<div class="item">
						<div class="item-product">
							<div class="product-thumb">
								<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-thumb-link">
									<?php $productImageThumb = $block->getImage($_product, 'category_page_list');?>
									<span class="first-thumb">
										<?php echo $productImage->toHtml(); ?>
									</span>
									<!--<span class="second-thumb">
										<?php /*echo $productImageThumb->toHtml(); */?>
									</span>-->
								</a>
							</div>
							<div class="product-info">
								<h3 class="title-product"><a title="<?php echo $block->escapeHtml($_product->getName()) ?>"
								   href="<?php echo $block->getProductUrl($_product) ?>"
								   class="product-item-link">
									<?php echo $block->escapeHtml($_product->getName()) ?>
								</a></h3>
								<div class="info-price">
									<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_product)) ?>
								</div>
								<?php 
									$html = '
										<div class="product-info-cart">';
											$html .= '<div class="actions-primary addcart-link">';
											if ($_product->isSaleable()){
												$postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
												$postData = $postDataHelper->getPostData($block->getAddToCartUrl($_product), ['product' => $_product->getEntityId()]);
												$postParams = json_decode($postData, true);
												$html .= '<form data-role="tocart-form" action="'.$postParams['action'].'" method="post">
												  <input type="hidden" name="product" value="'.$postParams['data']['product'].'">
												  <input type="hidden" name="'.Action::PARAM_NAME_URL_ENCODED.'" value="'.$postParams['data'][Action::PARAM_NAME_URL_ENCODED].'">
												  '.$block->getBlockHtml('formkey').'
												  <button type="submit"
													  title="'.$block->escapeHtml(__('Add to Cart')).'"
													  class="btn-add-to-cart">
													<i class="fa fa-shopping-basket"></i>
													'.$block->escapeHtml(__('Add to Cart')).'
												  </button>
												</form>';
											}
											else{
												if ($_product->getIsSalable()){
													$html .= '<span>'.__('In stock').'</span>';
												}
												else{
													$html .= '<span>'.__('Out of stock').'</span>';
												}
											}
											$html .= '</div>';
											$html .= '<div class="product-extra-link">';
												if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()){
													$html .= '<a href="#" data-post=\''.$block->getAddToWishlistParams($_product).'\' class="wishlist-link" data-action="add-to-wishlist" title="'.__('Add to Wishlist').'"><i class="fa fa-heart"></i></a>';
												}
												if ($block->getAddToCompareUrl()){
													$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
													$html .= '<a href="#" class="compare-link" data-post=\''.$compareHelper->getPostDataParams($_product).'\' title="'.__('Add to Compare').'"><i class="fa fa-retweet"></i></a>';
												}
												$html .= '<div class="quickview-product quickview-product-fixed-inline">
															<a data-role="quickview-button" data-id="'.$_product->getId().'" href="javascript: void(0);" data-href="'.$block->getUrl('quickview/product/quickview/id/' . $_product->getId()).'" title="'. __('Quick view').'"><i class="fa fa-search"></i></a>
														  </div>
												</div>';
										echo '</div>';
									echo $html;
								?>
							</div>
						</div>
					</div>
					<?php } ?>
				</div>
			</div>
		<?php if (!$block->isRedirectToCartEnabled()) : ?>
			<script type="text/x-magento-init">
			{
				"[data-role=tocart-form], .form.map.checkout": {
					"catalogAddToCart": {}
				}
			}
			</script>
		<?php endif; ?>
			<script>
				require([
					'jquery',
					'mage/mage',
					'rokanthemes/owl'
				], function ($) {
					'use strict';

					jQuery(".rokan-bestseller .wrap-item").owlCarousel({
						autoPlay : false,
						items : 1,
						itemsDesktop : [1199,1],
						itemsDesktopSmall : [980,1],
						itemsTablet: [768,1],
						itemsMobile : [479,1],
						slideSpeed : 500,
						paginationSpeed : 500,
						rewindSpeed : 500,
						navigation : true,
						stopOnHover : true,
						pagination :false,
						scrollPerPage:true,
					});
				});
			</script>
	<?php endif; ?>
	</div>
 
<?php } ?>