#ajax-preloader{
    opacity:0.8;
    text-align:center;
    z-index:500;
    background: url(../images/ajax_loader.gif) center top no-repeat;
}
#ajax-preloader .loading{border:2px solid #777; color:#000; background:#eee; text-align:center; width:120px; padding:15px; font-weight:bold;}
.product-slider-wrapper {
	float: left;
	position:relative;
}
body #quick-window{
	position:absolute;
	z-index:500;
	background-color:#fff;
	max-width:900px;
    width: 100%;
	display:none;
	-webkit-box-shadow: 0px 0px 30px 0px #000; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	box-shadow: 0px 0px 30px 0px #000; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	#quickview-close{
		color: #fff;
        display: block;
        line-height: 30px;
        position: absolute;
        text-align: center;
        z-index: 999;
        background: #000;
        width: 32px;
        height: 32px;
        top: 10px;
        right: 10px;
        border-radius: 4px;
        padding: 3px;
        font-size: 0;
        text-indent: 0;
        &:before{
            color: #fff;
            font-size: 18px;
            line-height: 22px;
            display: block;
            font-weight: 400;
            content: "x";
        }
	}
	.quick-view-content{
		padding: 20px;
		.product-info-price{
			margin-top: 25px;
		} 
		.product.media{
			width: 47%;
			.main-img-quickview{
				margin-bottom: 10px;
			}
		}
		.detail-info-product-view{
			width: 50%;
			float: right;
		}
		.product.info.detailed{
			display: inline-block;
			.product.attibute.description{
				color: #777;
				font-size: 13px;
				line-height: 1.5;
			}
		}
		.bxslider{
			li{
				cursor: pointer;
			}
		}
	}
}

#quickview-content {
	.page-title-wrapper {
		.container {
			max-width: 100%;
			width: auto;
		}
	}
}
.info-qty {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    max-width: 240px;
    padding: 0 35px;
    position: relative;
    text-align: center;
    width: 100%;
}
.info-qty a {
    color: #333;
    &:hover {
        color: @maincolor;
    }
}
.info-qty .qty-down {
    border-right: 1px solid #e8e8e8;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;
    font-size: 10px;
}
.info-qty .qty-up {
    border-left: 1px solid #e8e8e8;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    font-size: 10px;
}
.info-qty a:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.info-qty .qty-val {
    display: block;
    padding: 0 15px;
    width: 100%;
}

.attr-info {
    background: #fafafa none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
    padding: 25px 20px;
}
.attr-product label {
    margin: 0;
    text-transform: uppercase;
    width: 56px;
}
.attr-color {
    display: inline-block;
    max-width: 240px;
    position: relative;
    width: 100%;
    z-index:99;
}

.attr-info .addcart-link:hover {
    background:@maincolor;
}
.attr-info .addcart-link {
    background: #585e6a none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 35px;
    line-height: 35px;
    margin: 10px 0 0 60px;
    max-width: 240px;
    text-align: center;
    width: 100%;
    -webkit-transition:all 0.3s ease-out 0s;
    transition:all 0.3s ease-out 0s;
}
.addcart-link i {
    margin-right: 5px;
    transition:all 0.3s ease-out 0s;
    -webkit-transition:all 0.3s ease-out 0s;
}
.product-list .addcart-link i:hover{
    margin-right: 5px;
}
.addcart-link:hover i {
    margin-right:10px;
}
.product-social-extra {
    margin: 10px 0 0 60px;
}
.product-social-extra a:hover {
    color: @linkshover;
}
.product-social-extra a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e8e8e8;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin-right: 6px;
    text-align: center;
    transition: all 0.3s ease-out 0s;
    width: 35px;
    &:hover {
        color: @maincolor;
    }
}
.product-social-extra a:last-child {
    margin: 0;
}
.title-tab-detail li {
    display: inline-block;
    margin-right: 3px;
}
.title-tab-detail li a {
    border: 1px solid #e8e8e8;
    color: #666;
    display: block;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    text-transform: uppercase;
    -webkit-transition:all 0.3s ease-out 0s;
    transition:all 0.3s ease-out 0s;
}
.title-tab-detail li:hover a,.title-tab-detail li.active a{
    background: @linkshover;
    border-color: @linkshover;
    color:#fff;
}
.tab-detail {
    margin-top: 30px;
}
.table-content-tab-detail {
    border: 1px solid @bordercolor;
    display: table;
    margin-top: -1px;
}

.title-table-detail {
    border-right: 1px solid @bordercolor;
    display: table-cell;
    padding: 30px 15px;
    width: 90px;
}
.icon-table-detail {
    display: table-cell;
    text-align: center;
    width: 60px;
    padding: 30px 15px;
}
.title-table-detail  span {
    text-transform: uppercase;
}
.info-table-detail {
    color: #666;
    display: table-cell;
    padding: 30px 0;
}
.info-table-detail  p {
    margin: 0;
    padding: 0 20px 0 0;
}
.info-table-detail  h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 5px;
}
.title-tab-detail  ul {
    margin: 0 0 6px;
}

.inner-content-tab-detail {
    border: 1px solid #e8e8e8;
    color: #666;
    padding: 20px;
}
.inner-content-tab-detail  h2 {
    margin: 0 0 10px;
}
.title-default {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 12px;
}