<?php
/**
 * Copyright © 2015 sunarccommerce. All rights reserved.
 */
?>
<?php
/**
 * {{controller}} {{action}} template
 *
 * @var $block \Sunarc\Quoteble\Block\Index\Index
 */


echo $block->hello;
?>
<br/>
update content from Quoteble\view\frontend\templates\index\index.phtml