<div class="checkout-success" style="width: 100%; text-align: center;">
    <p><?php echo __('Thank you for the quote, your request has been submitted successfully. We\'ll email you with quote details.') ?></p>
</div>

<style>
    .messages{
        display: none;
    }
    .checkout-success{
        width: 100%;
        text-align: center;
    }
</style>