<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$quoteble = $objectManager->get('Sunarc\Quoteble\Block\Cart\Grid');
$eQuoteId = $this->getRequest()->getParam('id');
$quotebleData=$quoteble->getQuoteData($eQuoteId);

if(is_array($quotebleData)){
    $size=0;//$quotebleData[0]->getSize();
    //echo "<pre>"; print_r($quotebleData[2]);
    foreach ($quotebleData[1] as $data){
        $size+=$data;
    }
    ?>
    Customer Address:<?php echo $quotebleData[2];?><br/><br/>
    <?php
   // echo "<pre>"; print_r($quotebleData[1]);
    $quotebleHtml='<div class="quotebleDiv">';
    foreach ($quotebleData[0] as $_item){
        $imageType = 'product_thumbnail_image';
        $image = $quoteble->getImage($_item, $imageType);
     $quotebleHtml.='<div class="product customQuoteble">
        <div class="productImage">
            <a class="product-item-photo" style="float: left;" href="'.$_item->getProductUrl().'" title="'.$_item->getName().'">
            <span class="product-image-container" style="width: 70px;">
                <span class="product-image-wrapper" style="padding-bottom: 100%;">
                    <img class="product-image-photo" src="'.$image->getImageUrl().'" alt="'.$_item->getName().'" style="width: 70px; height: 70px;">
                </span>
            </span>
            </a>    
        </div>';
        $quotebleHtml.='
            <div class="product-item-details">
                <strong class="product-item-name">
                    <a href="'.$_item->getProductUrl().'">'.$_item->getName().'</a>
                </strong>
                 <strong class="product-item-qty">
                    Qty:'.$quotebleData[1][$_item->getId()].'
                </strong>
            </div></div> ';
    }
    $quotebleHtml.='</div>';
    echo $quotebleHtml;
}

?>

<style>
    .quotebleDiv{
        float: left;
        width: 100%;
    }
    .quotebleDiv .productImage{
        float: left;
        width: 10%;
    }
    .quotebleDiv .customQuoteble{
        float: left;
        width: 100%;
    }
    .quotebleDiv .product-item-details{
        float: left;width: 80%;
    }
    .quotebleDiv .product-item-name{
        float: left;width: 50%;
    }
    .quotebleDiv .product-item-qty{
        float: left;width: 50%;
    }
</style>
