<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**  @var $block \Sunarc\Quoteble\Block\Cart\Grid */
?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<form action="<?= /* @escapeNotVerified */ $block->getUrl('checkout/cart/updatePost') ?>"
          method="post"
          id="form-validate"
          data-mage-init='{"Magento_Checkout/js/action/update-shopping-cart":
              {"validationURL" : "/checkout/cart/updateItemQty"}
          }'
          class="form form-cart">
    <?= $block->getBlockHtml('formkey') ?>
    <?php
    if($block->getItems()) {
        ?>
        <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
            <?php if ($block->getPagerHtml()): ?>
                <div class="cart-products-toolbar cart-products-toolbar-top toolbar"
                     data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
            <?php endif ?>
            <table id="shopping-cart-table"
                   class="cart items data table"
                   data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
                <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */
                    __('Shopping Cart Items') ?></caption>
                <thead>
                <tr>
                    <th class="col item" scope="col"><span><?= /* @escapeNotVerified */
                            __('Item') ?></span></th>
                    <th class="col price" scope="col"><span><?= /* @escapeNotVerified */
                            __('Price') ?></span></th>
                    <th class="col qty" scope="col"><span><?= /* @escapeNotVerified */
                            __('Qty') ?></span></th>
                    <th class="col subtotal" scope="col"><span><?= /* @escapeNotVerified */
                            __('Subtotal') ?></span></th>
                </tr>
                </thead>
                <?php foreach ($block->getItems() as $_item): ?>
                    <?= $block->getItemHtml($_item) ?>
                <?php endforeach ?>

            </table>
        </div>
        <div class="cart main actions">
            <button type="submit"
                    name="update_cart_action"
                    data-cart-empty=""
                    value="empty_cart"
                    title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                    class="action clear" id="empty_cart_button">
                <span><?= /* @escapeNotVerified */
                    __('Clear Shopping Cart') ?></span>
            </button>
            <button type="submit"
                    name="update_cart_action"
                    data-cart-item-update=""
                    value="update_qty"
                    title="<?= $block->escapeHtml(__('Update Shopping Cart')) ?>"
                    class="action update">
                <span><?= /* @escapeNotVerified */
                    __('Update Shopping Cart') ?></span>
            </button>
            <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
        </div>
        <?php
    }
    ?>
    <?php
    $quotebleData=$block->getCustomQuotebleItem();
    if(is_array($quotebleData)){/*If Quoteble Item*/
    ?>

    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */ __('Shopping Cart Items') ?></caption>
            <thead>
            <tr>
                <th class="col item" scope="col"><span><?= /* @escapeNotVerified */ __('Item') ?></span></th>
                <!--<th class="col price" scope="col"><span><?/*= __('Price') */?></span></th>-->
                <th class="col qty" scope="col"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></th>
                <!--<th class="col subtotal" scope="col"><span><?/*=  __('Subtotal') */?></span></th>-->
            </tr>
            </thead>

            <?php
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $sunarcHelper = $objectManager->create('Sunarc\Quoteble\Helper\Send');
           // $sunarcHelper->sendEmail("Pushpendra","pushpendra.singh@sunarctechnologies.com","8829888777",2);exit;
            ?>

            <?php
            //echo "<pre>"; print_r($quotebleData->getData());exit;
            foreach ($quotebleData[0] as $_item): ?>
                <?php
                    $imageType = 'product_thumbnail_image';
                    $image = $block->getImage($_item, $imageType);
                ?>

                <tr>
                    <td data-th="Item" class="col item">
                        <a href="<?php echo $_item->getProductUrl();?>" tabindex="-1" class="product-item-photo">
   <span class="product-image-container" style="width:70px;">
   <span class="product-image-wrapper" style="padding-bottom: 100%;">
   <img class="product-image-photo" src="<?php echo $image->getImageUrl();?>" alt="<?php echo $_item->getName();?>" width="70" height="70"></span>
   </span>
                        </a>
                    <div class="product-item-details">
                        <strong class="product-item-name">
                            <a href="<?php echo $_item->getProductUrl();?>"><?php echo $_item->getName();?></a>
                        </strong>
                    </div>
                    </td>
                   <!-- <td class="col price" data-th="Price">
   <span class="price-excluding-tax" data-label="Excl. Tax">
   <span class="cart-price">
   <span class="price"><?php /*echo 'N/A';$_item->getFinalPrice();*/?></span>            </span>
   </span>
                    </td>-->
                    <td class="col qty" data-th="Qty">
                        <div class="field qty">
                            <label class="label" for="cart-<?php echo $_item->getId();?>-qty">
                                <span>Qty</span>
                            </label>
                            <div class="control qty">
                                <input id="quote-<?php echo $_item->getId();?>-qty" name="quote[<?php echo $_item->getId();?>][qty]" value="<?php echo $quotebleData[1][$_item->getId()];?>" type="number" size="4" title="Qty" class="input-text qty" data-validate="{required:true,'validate-greater-than-zero':true}" data-role="quote-item-qty">
                            </div>
                        </div>
                    </td>
                    <!--<td class="col subtotal" data-th="Subtotal">
   <span class="price-excluding-tax" data-label="Excl. Tax">
   <span class="cart-price">
   <span class="price"><?php /*echo 'N/A'; $_item->getFinalPrice();*/?></span>            </span>
   </span>
                    </td>-->
                </tr>
            <?php endforeach ?>
            <?php
          //  echo $block->getCustomQuotebleItem();
            ?>
        </table>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar" data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
    </div>
    <div class="cart main actions">
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_quote"
                title="<?= $block->escapeHtml(__('Clear Quotable Cart')) ?>"
                class="action clear" id="empty_quote_button">
            <span><?= /* @escapeNotVerified */ __('Clear Quotable Cart') ?></span>
        </button>
        <button type="submit"
                name="update_cart_action"
                data-cart-item-update=""
                value="update_quote_qty"
                title="<?= $block->escapeHtml(__('Update Quotable Cart')) ?>"
                class="action update">
            <span><?= /* @escapeNotVerified */ __('Update Quotable Cart') ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
    <?php } ?>
</form>
<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>

