<?php 
	$enable = $block->getConfig('enabled');
	if($enable < 1) return ; 
	$title = $block->getTitle();
	$categoryIds = $block->getCategoryIds();
	$categoryIds = explode(',', $categoryIds);
?>
<div class="rokan-product-heading">
	<h2 class="title-catthum"><?php echo '<span>'.$title.'</span>'; ?></h2>	
</div>

<div class="row">
	<?php if(count($categoryIds) > 0) : ?>
		<div class="wrap-category">
		<?php $iterator = 1; 
			$i = 0;
			$rows = 2;
		?>
		<ul class="owl">
			<?php foreach($categoryIds as $key => $cate_id) : ?>
				<?php if($i++ %$rows == 0) echo "<li class='wp-item'>"; ?>
			<div class="item">
				<div class="popcat-box">
					<?php 
						$cate_model =  $block->getCategory($cate_id);
						$subCate = $block->getCategoryList($cate_model->getChildren());
				   	?>
				   	<div class="wp category-item">
					   	<a href="<?php echo $cate_model->getUrl() ?>">
					    	<img src="<?php echo $this->helper('Rokanthemes\Categorytab\Helper\Data')->getThumbnailImageUrl($cate_model) ?>" alt="<?php echo $cate_model->getName() ?>" />
					    </a>
					</div>
					<div class="category-info">
						<h3><a href="<?php echo $cate_model->getUrl() ?>"><?php echo $cate_model->getName(); ?></a></h3>
					    <ul class="sub-categories">
					   		<?php foreach ($subCate as $key => $value): ?>
								<li><a href="<?php echo $value->getUrl(); ?>"><?php echo $value->getName(); ?></a></li>
					   		<?php endforeach; ?>
					    </ul>
				    	<div class="link-all">
					    	<a href="<?php echo $cate_model->getUrl() ?>"><?php echo __('More...'); ?></a>
					    </div> 
				    </div>
				</div>
			</div>
			<?php endforeach; ?>
			</ul>
		</div>
	<?php endif; ?>
</div>

<script>
	require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
		jQuery(".wrap-category .owl").owlCarousel({
			autoPlay : false,
			items : 3,
			itemsDesktop : [1199,3],
			itemsDesktopSmall : [991,2],
			itemsTablet: [768,2],
			itemsMobile : [480,1],
			slideSpeed : 500,
			paginationSpeed : 500,
			rewindSpeed : 500,
			navigation : true,
			stopOnHover : true,
			pagination :false,
			scrollPerPage:true,
		});
	});
</script>