 <div class="banner-top-home">
	<div class="container">
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_top_home1')->toHtml();?>
	</div>
</div>
<div class="product-tab">
	<div class="container">
		<?php echo $block->getLayout()->createBlock('Rokanthemes\ProductTab\Block\Producttab')->setTemplate('Rokanthemes_ProductTab::producttab.phtml')->toHtml();?>
	</div>
</div>
<div class="hot-deal">
	<div class="container">
		<div class="row banner-sale">
			<div class="col-md-9 col-sm-12 col-xs-12">
			<?php echo $block->getLayout()->createBlock('Rokanthemes\Superdeals\Block\ProductByCat')->setTemplate('Rokanthemes_Superdeals::category.phtml')->toHtml();?>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12 banner-effect-text"><?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_sale')->toHtml();?>
			</div>
		</div>	
	</div>
</div>
<div class="section-bestseller">
	<div class="container">
		<div class="wrapper-bestseller cat">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('category1_home1')->toHtml();?>
		</div>
	</div>
</div>
<div class="banner-middle">
	<div class="container">
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('banner_middle')->toHtml();?>
	</div>
</div>

<div class="section-bestseller">
	<div class="container">
		<div class="wrapper-bestseller">
			<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('Product_tab_bestseller')->toHtml();?>
		</div>
	</div>
</div>
<div class="section-brands">
	<div class="container">
		<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('section_brands')->toHtml(); ?>
	</div>
</div>

<div class="section-featured-categories">
	<div class="container">
		<?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('featured_categories')->toHtml(); ?>
	</div>
</div>
<div class="main-content-home">

	<div class="list-service">
		<div class="container">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('section_services')->toHtml(); ?>
		</div>
	</div>
</div>
<script type="text/javascript">
require([
		'jquery',
		'mage/mage',
		'rokanthemes/owl'
	], function ($) {
		'use strict';
	$( document ).ready(function() {
		$("ul.tabs li").click(function() {
			$(this).closest("ul").find("li").removeClass("active");
			$(this).addClass("active");
			$(this).closest(".common-tab-system-fixed").find(".tab_content").hide();
			$(this).closest(".common-tab-system-fixed").find(".tab_content").removeClass("animate1");
			var activeTab = $(this).attr("rel");
			$("#"+activeTab) .addClass("animate1");
			$("#"+activeTab).fadeIn();
		});
		//Close Service Box
		$('.close-service-box').on('click',function(event) {
			event.preventDefault();
			$('.banner-top-home').slideUp('slow');
		});
		
		 $(".block-content.brandowl-play >ul").owlCarousel({
			items : 6,
			itemsDesktop : [1199, 5],
	        itemsDesktopSmall : [991,4],
	        itemsTablet : [767, 3],
	        itemsMobile : [479, 1],
		    navigation : true,
		     afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		    }
		});
		if($('.category-brand-slider').length>0){
			$('.category-brand-slider').each(function(){
			  $(this).find('.wrap-item').owlCarousel({
				items: 1,
				itemsCustom: [
				[0, 2],
				[480, 2],
				[768, 1],
				[992, 1],
				[1200, 1]
				],
				pagination: false,
				navigation: true,
				autoPlay:true,
				navigationText:['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>']
			  });
			});
		}
	});
});
</script>