.sticky-notification-bar {
    top:0;
    width: 100%;
    z-index: 99999;
    text-align: center !important;
    line-height: 35px !important;
}

.sticky-notification-bar .content {
    font-weight: bold !important;
    text-align: center !important;
    min-height: 40px !important;
    font-size: 14px !important;
    padding-top: 10px !important;
}

/* For mobile phones: */

@media only screen and (max-width: 768px) {
    /* For tablets: */
    .sticky-notification-bar .content {
        font-size: 12px;
        padding-bottom: 10px;
        word-break: break-word;
    }
}

.coupon-code {
    border: 0.1px dashed;
    margin-left: 20px;
    padding: 3px;
}