<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php
if ($block->isPossibleOnepageCheckout()):?>
    <style xmlns="http://www.w3.org/1999/html">
        /*Hide Send quote button*/
        .checkout-types.button.btn-proceed-checkout.btn-checkout {
            display: none;
        }
    </style>
    <?php
    if ($block->getItems()):?>

    <button type="button"
            data-role="proceed-to-checkout"
            title="<?= /* @escapeNotVerified */ __('Proceed to Checkout') ?>"
            data-mage-init='{"Magento_Checkout/js/proceed-to-checkout":{"checkoutUrl":"<?= /* @escapeNotVerified */ $block->getCheckoutUrl() ?>"}}'
            class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?= /* @escapeNotVerified */ __('Proceed to Checkout') ?></span>
    </button>
    <?php endif?>
    <?php
    /*If quoteble item exist*/
    if ($block->getCustomQuotebleItem() && $block->getItems()==false):?>
    <button onclick="showpopup();" type="button"
            data-role="proceed-to-checkout"
            title="<?= /* @escapeNotVerified */ __('Request A Quote') ?>"
            class="action primary checkout<?= ($block->isDisabled()) ? ' disabled' : '' ?>"
            <?php if ($block->isDisabled()):?>disabled="disabled"<?php endif; ?>>
        <span><?= /* @escapeNotVerified */ __('Request A Quote') ?></span>
    </button>
        <?php
        $cart = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Checkout\Model\Session')->getQuote();

        $custID = $block->getCustomerIdData();
        $custName = $block->getCustomerNameData();
        $custEmail = $block->getCustomerEmailData();
        $custphone = $block->getCustomerTelephoneData();
        $address = $block->getCustomerAddressData(); ?>
        <div id="mailcotentarea1" style="display: none;">
            <div id="maincontent">
                <div id="closesection">
                    <div onclick="closepopup();" id="closebtndiv"></div>
                </div>
                <div class="page-title">
                    <h2>Request A Quote</h2>
                </div>
                <form id="quoteble-form" name="quote-form" method="post" class="scaffold-form">
                    <input type="hidden" id="custid" name="custid" value="<?php echo $custID; ?>"/>
                    <input type="hidden" id="quoteid" name="quoteid" value="<?php echo $cart->getEntityId(); ?>"/>
                    <div class="fieldset">
                        <div class="field email required">
                            <label for="customername" class="label"><span><?php echo __('Name') ?></span></label>
                            <div class="control">
                                <input required type="text" id="customername" name="customername" value="<?php echo $custName; ?>"
                                       title="<?php echo __('Name') ?>" maxlength="255" class="input-text required-entry"/>
                            </div>
                        </div>

                        <div class="field email required">
                            <label for="customeremail" class="label"><span><?php echo __('Email') ?></span></label>
                            <div class="control">
                                <input required type="text" id="customeremail" name="customeremail" value="<?php echo $custEmail; ?>"
                                       title="<?php echo __('Email') ?>" maxlength="255"
                                       class="input-text validate-email required-entry"/>
                            </div>
                        </div>

                        <div class="field email required">
                            <label for="telephone" class="label"><span><?php echo __('Telephone') ?></span></label>
                            <div class="control">
                                <input required type="text" id="telephone" name="telephone" value="<?php echo $custphone; ?>"
                                       title="<?php echo __('Telephone') ?>" maxlength="255"
                                       class="input-text required-entry validate-digits"/>
                            </div>
                        </div>

                        <div class="field address required">
                            <label for="address" class="label"><span><?php echo __('Address') ?></span></label>
                            <div class="control">
                                <textarea rows="4" cols="50" required type="text" id="address" name="address" title="<?php echo __('Address') ?>" class="input-text required-entry"/><?php echo $address; ?></textarea>
                            </div>
                        </div>
                        
                        <div class="field email required">
                            <label for="telephone" class="label"><span><?php echo __('Comment') ?></span></label>
                            <div class="control">
                                <textarea rows="4" cols="50" required id="comment" name="comment"                                        title="<?php echo __('Comment') ?>"
                                       class="input-text"/></textarea>
                            </div>
                        </div>

                        <div class="actions-toolbar">
                            <div class="primary">
                                <button class="button btn-proceed-checkout btn-checkout" title="<?php echo __('Submit') ?>"
                                        type="button" onclick="checkAddressCustom();">
                                    <span><span><?php echo __('Submit') ?></span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <style>
        /*Hide shipping, subtotal and discount box*/
        #block-shipping, #cart-totals, #block-discount {
            display: none;
        }
        /* CSS Document */
        #mailcotentarea1 {
            align-items: baseline;
            background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
            bottom: 0;
            display: none;
            height: 100%;
            justify-content: center;
            left: 0;
            overflow: auto;
            position: fixed;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 15001;
        }
        #mailcotentarea1 #maincontent {
            background-color: white;
            margin: 50px auto 0;
            max-width: 100%;
            padding: 10px 20px;
            width: 30%;
            min-width: 320px;
        }
        #mailcotentarea1 #maincontent #closesection {
            text-align: right;
        }
        #mailcotentarea1 #maincontent #closebtndiv {
            background: url(<?php echo $block->getViewFileUrl('Sunarc_Quoteble::images/close.png'); ?>) no-repeat scroll 0 0;
            cursor: pointer;
            height: 50px;
            width: 35px;
            display: inline-block;
            float: right;
        }
        #mailcotentarea1 #maincontent .page-title h1 {
            margin-top: 8px;
        }
        #mailcotentarea1 #maincontent .fieldset ul li textarea {
            width: 100%;
        }
        #mailcotentarea1 #maincontent .fieldset img {
            display: inline;
            visibility: hidden;
        }
        #quote-table tr td,#quote-table tr th {
            border: 1px solid #e0e0e0;
        }
        #quote-table tr th{
            text-align: center;
        }

    </style>
    <script>
        function showpopup() {
            document.getElementById('mailcotentarea1').style.display = 'block';
        }

        function closepopup() {
            document.getElementById('mailcotentarea1').style.display = 'none';
        }
        /*Add function to check shipping state is valid or not*/
        function checkAddressCustom(){
            require(["jquery"],function($) {
                if (jQuery('#quoteble-form').valid()) {
                    closepopup();
                    jQuery(".loading-mask").toggle();
                    jQuery('.loading-mask').attr('style', 'display: block !important;'); //will override those properties
                    $.ajax({
                        showLoader: true,
                        url: "<?php echo $this->getUrl() . 'quoteble/allquote'?>",
                        type: "POST",
                        data: jQuery('#quoteble-form').serialize(true),
                        dataType: 'json'
                    }).done(function (data) {
                        jQuery(".loading-mask").toggle();
                        jQuery('.loading-mask').attr('style', 'display: none !important;'); //will override those properties
                        //alert('<?php echo $block->getWebsiteUrl();?>');
                        window.location='<?php echo $block->getWebsiteUrl();?>';
                    });
                }
            });
        }
    </script>
<?php endif?>
<?php endif?>
