<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var \Magento\Theme\Block\Html\Header\Logo $block
 */
?>
<?php $storeName = $block->getThemeName() ? $block->getThemeName() : $block->getLogoAlt();?>
<div class="logo">
<?php if (!$block->isHomePage()):?>
    <a href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $storeName ?>">
<?php endif ?>
	<img src="<?php /* @escapeNotVerified */ echo $block->getLogoSrc() ?>"
		 alt="<?php /* @escapeNotVerified */ echo $block->getLogoAlt() ?>"
		 <?php echo $block->getLogoWidth() ? 'width="' . $block->getLogoWidth() . '"' : '' ?>
		 <?php echo $block->getLogoHeight() ? 'height="' . $block->getLogoHeight() . '"' : '' ?>
	/>
<?php if (!$block->isHomePage()):?>
    </a>
<?php endif?>
<?php echo $block->getLayout()
               ->createBlock('Magento\Cms\Block\Block')
               ->setBlockId('header_telephone')
               ->toHtml();
?>
</div>
