<!--@subject New Quote ID-{{var quoteid}}@-->
<!--@vars
{"var customerName":"Customer Name",
"var customerEmail":"Customer Email",
"var customerPhone":"Customer Telephone",
"var customerComment":"Comment",
"var cartgrid":"Cart Data Grid"}
@-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                
                <tr>
                    <td valign="top" colspan="5">
                        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Hello {{var customerName}},</h1>
                    </td>
                </tr>
                <tr>
                    <td valign="top" colspan="5">
                        Thank You for Submitting Your Quote Request with Us.
                    </td>
                </tr>
                 <tr>
                    <td valign="top" colspan="5">
                        <div style="font-size:16px; font-weight:normal; margin:0 0 5px 0;"">Your Quote Request #{{var quoteid}}, is being Reviewed by one of our Dedicated Representatives. </div>
                    </td>
                </tr>
                 <tr>
                    <td valign="top" colspan="5">
                        <div style="font-size:16px; font-weight:normal; line-height:10px; margin:0 0 5px 0;""><b>Remarks :</b> {{var customerComment}}</div>
                    </td>
                </tr>
                 {{var cartgrid|raw}}
                <tr>
                	<td valign="top" colspan="5">
                        <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#F9F9F9; text-align:center;"><strong>Thank you again</strong></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>