/*background and color change*/
.title-category-dropdown {
    background: #81be41 !important;
    color: #ffffff !important;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0 20px 0 70px;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
}
#back-top {
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9999;
    right: 10px;
    bottom: 15px;
    color: #fff !important;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    border-radius: 100%;
    border: 1px solid #9ad85b;
    padding: 3px;
}

.wrapper-bestseller.cat h4 {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff !important;
    font-family: 'Poppins', sans-serif;
    width: 25%;
    line-height: 26px;
    padding: 10px 27px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase;
    background: #9ad85b !important;
}

.header-mini-cart .total-mini-cart-item {
    min-width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    position: absolute;
    top: -13px;
    left: -20px;
    color: #fff;
    background: #9ad85b !important;
    border-radius: 100%;
    font-size: 13px;
}

.list-category-dropdown > li:hover > a::before {
    background: #9ad85b none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
    z-index: 10;
}

.header-container .header-content .minicart-wrapper:hover {
    background: #9ad85b !important;
}
.custommenu.navigation li.level0 > .level-top {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    padding: 0 30px !important;
    background: #81be41 !important;
    line-height: 60px;
    font-size: 16px;
    width: auto !important;
    font-family: 'Poppins', sans-serif;
}

.custommenu.navigation li.level0 > .level-top:hover {
    background: #9ad85b !important;
}

.header-control {
    margin-bottom: 25px;
    background: #81be41 !important;
    min-height: 60px;
}

.product-tab .list-tab-product .box-title .tabs li.active {
    background: #9ad85b !important;
    color: #fff;
}

.product-tab .list-tab-product .box-title .tabs li:hover {
    background: #9ad85b !important;
    color: #fff !important;
}

.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .woocommerce-hot-deal .product-info-cart .product-extra-link .wishlist-link.action.towishlist:hover {
    background: #9ad85b !important;
    border-color: #9ad85b !important;
}

.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .woocommerce-hot-deal .product-info-cart .product-extra-link .compare-link.action.tocompare:hover {
    background: #9ad85b !important;
    border-color: #9ad85b !important;
}

.hot-deal .hot-deal-tab-slider.hot-deal-tab-slider-customcss .owl-controls .owl-buttons > div:hover {
    background: #9ad85b !important;
    border-color: #9ad85b !important;
    border-radius: 3px;
}
.title-catthum {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    line-height: 26px;
    padding: 10px 27px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase;
    background: #9ad85b !important;
    width: 31.5%;
    margin: 0;
}

.section-featured-categories .owl-theme .owl-controls .owl-buttons > div:active {
    background: #81be41 !important;
}

.product-info-cart .product-extra-link .wishlist-link.action.towishlist:hover {
    background: #9ad85b !important;
    border-color: #9ad85b !important;
    border-radius: 3px;
}

.product-info-cart .product-extra-link .compare-link.action.tocompare:hover {
    background: #9ad85b;
    border-color: #9ad85b;
    border-radius: 3px;
}

.section-bestseller .categorytab-container .computer-laptop {
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    width: 25%;
    line-height: 26px;
    padding: 10px 27px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
    text-transform: uppercase;
    background: #9ad85b !important;
}

.text_footer span:hover:before {
    color: #9ad85b !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #81be41 !important;
    color: #fff;
}
.owl-theme .owl-controls .owl-buttons > div:hover {
    background: #9ad85b !important;
    border-color: #9ad85b !important;
}
a:visited, .alink:visited, a:hover, a:focus, a:active{ color:#9ad85b !important;}
.action_button .button, input[type=submit], button{background: #9ad85b ;}
.gallery-placeholder .row li.active img{border-color:#9ad85b;}
.toolbar-products .modes .modes-mode.active {background:#9ad85b ; border-color:#9ad85b ;}
/*.breadcrumbs ul li strong{color: #9ad85b  !important;}*/
.product.info.detailed .product.data.items .item.title.active a, .product.info.detailed .product.data.items .item.title a:hover{background:#9ad85b; border-color:#9ad85b;}
a:hover, a:hover span {
    color: #9ad85b !important;
}

.toolbar-products .modes .modes-mode:not(.active):hover {
    background: #9ad85b;
    border-color: #9ad85b;
}

.breadcrumbs ul li:after {
    color: #9ad85b;
}

#layered-ajax-list-products .wrapper.list.products-list .product-list li .product-info .product-info-cart .product-extra-link .compare-link.action.tocompare:hover {
    background: #9ad85b;
    border-color: #9ad85b;
}

a:hover, a:hover span {
    color: #9ad85b !important;
}
.text_footer > div > ul > li > a:hover, .top-account ul li a:hover, .verticalmenu.navigation li > a:hover > span, .top-account ul li:hover a, .verticalmenu.navigation li:hover > a > span{color: #9ad85b !important;}
.text_footer > div > ul > li > a:hover span{color: #9ad85b !important;}
.post-date {
    background: #9ad85b none repeat scroll 0 0;
    color: #ffffff;
    padding: 10px 0 8px;
}

.post-info-bottom a:hover {
    background: #9ad85b;
    color: #ffffff;
    border-color: #9ad85b;
}
.breadcrumbs ul li strong {
    color: #9ad85b;
}

.toolbar-products .modes .modes-mode.active {
    background: #9ad85b;
    border-color: #9ad85b;
}
.toolbar-products .modes .modes-mode:not(.active):hover {
    background: #9ad85b;
    border-color: #9ad85b;
}
.about-full-protec span {
    background: #9ad85b none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: table-cell;
    font-size: 18px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    width: 60px;
}

.about-review-thumb a:hover {
    border-color: #9ad85b;
}

.post-date {
    background: #9ad85b none repeat scroll 0 0;
    color: #ffffff;
    padding: 10px 0 8px;
}

.post-info-bottom a:hover {
    background: #9ad85b;
    color: #ffffff;
    border-color: #9ad85b;
}
div.AuthorizeNetSeal{display: inline-block; vertical-align: middle;}
.payment-method {text-align: right; display: block; vertical-align: middle;}
div.authorize_custom{text-align:right;}
.navigation h2 span {
    color: white !important;
}

.onsale .sale-text {
    color: white !important;
}

span.sale-text label {
    color: white !important;
}

.section-bestseller .categorytab-container .computer-laptop {
    color: #ffffff !important;
}

/* #theme.css */

.post-list-wrapper .blog-list-post .post-info-extra .post-date >strong{
    color: white !important;
}
.post-list-wrapper .blog-list-post .post-info-extra .post-date >span{
    color: white !important;
}
.header-control.header-nav .navigation.custommenu.main-nav > ul > li > a > span {
    color:  #fff !important;
}
.rokan-product-heading .title-catthum span {
    color: #fff !important;
}


.footer-search .form_search .container .row .text_form {
    text-transform: uppercase;
    line-height: 100px;
    font-size: 24px;
    font-weight: 600;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
}


.navigation.custommenu.main-nav ul li a:hover span {
    color: white !important;
}

.catalog-product-view .page-wrapper #maincontent .product-view .detail-info.detail-info-product-view .product.attribute.sku > div.value
{
    line-height: 13px !important;
}

.phone::before {
    font-family: FontAwesome;
    font-size: 20px;
    color: #71737a;
    padding-right: 10px;
    content: '\f095';
}

/*Header Phone*/
#header-tele::before {
    font-family: FontAwesome;
    font-size: 18px;
    color: #9ad85b !important;
    padding-right: 5px;
    content: '\f095';
}

#header-tele{
    color:#9ad85b !important;
    font-size: 79% !important;
    width: 200px;
    font-weight: 450;
}


/*Banner-caption css*/
div#banner-caption {
    padding:  20px;
    background: rgba(0, 0, 0, 0.6);
    text-align:center;

}

#banner-caption p.caption-title {
    color:  #fff !important;
    font-size:  22px;
}

div#banner-caption h1 {
    /*color: #81be41 !important;*/
    color: #00abad !important;
    padding-bottom: 15px;
    font-weight:  bold;
}

#banner-caption p.caption-desc {
    color: #fff !important;
    font-size: 18px;
}

/*Rahul jajra designing */
.section-featured-categories .wrap-category .owl-item:last-child .item{
    border-right: 1px solid #f1f1f1 !important;
}
.minicart-items-wrapper {
    max-height: 250px;
    overflow-y: auto;
}
.block-minicart #minicart-content-wrapper .items-total{margin: 0;}
#co-transparent-form.form, #purchaseorder-form, #checkout-payment-method-load .payment-method-billing-address, .billing-address-same-as-shipping-block.checkbox-group{
    margin-left: 0 !important;
}
.fieldset > .field:not(.choice) > .control._with-tooltip{
    width: 99%;
}
.checkout-payment-method .ccard > .field.cvv > .control{padding-right: 0;}
.field-tooltip .field-tooltip-action{position: relative; top: -23px; left: -6px;}
.opcheckout-index-index .field-tooltip .field-tooltip-action{top: 0px !important;}
#opcheckout-payment-methods .payment-methods ul.credit-card-types{text-align: left;}
.product-desc, .category-desc {
    line-height: 1.5;
    letter-spacing: 0.6px;
}

.product-sku {
    margin-bottom: 5px;
}

h3.title-product {
    margin-bottom: 5px;
}
.three-columns-new-osc #one-step-checkout-form .checkout-review-load .data-table td h2{
    white-space: normal;
    word-break: break-all;
}
#one-step-checkout-form .checkout-review-load .data-table thead th{padding-right: 0;}
.opcheckout-login-link{text-align: left !important; padding: 0 !important;}
.opcheckout-login-link > a{font-size: 16px !important;}
.section-featured-categories .wrap-category .owl-item .wp-item .item{
    margin-top: 0; border-top: medium none;
}
td.cell.remove.product {
    text-align: right;
    padding: 0;
}
.”description”, p.”datasheet” {font-size: 14px;}
body #quick-window .quick-view-content .product.info.detailed{display: block; margin-top: 0; padding-top: 40px;}
body.catalog-product-compare-index .action.print{float: left;}
#quoteble-form label.error {
    color: red !important;
    font-size: 12px !important;
    text-align: left;
    float: left;
    position: absolute;
    top: -15px;
    left: 0;
}
#quoteble-form .control{position: relative;}
.block-order-details-view .block-content .box .box-title span{font-size: 15px;}
.block-order-details-view .box-content .payment-method .title{text-align: left; font-size: 16px;}
form#reorder-validate-detail .secondary {
    float: none;
}
a.print {
    background: #9ad85b !important;
    border-color: #9ad85b !important;
    display: inline-block;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 4px;
}
.wishlist-index-index .products-grid .product-item{border: 1px solid #f1f1f1; padding: 15px !important;}
.shipping-address-items .shipping-address-item .address-detail, .billing-address-details{word-break: break-all;}
body #quick-window #quickview-close{overflow: hidden; text-indent: -9999px;}
body #quick-window #quickview-close:before{text-indent: 0;}
.cart-summary .block label.label > span.price, .wrapper_quickview_item .detail-info-product-view .product.attribute.sku .value, .wrapper_quickview_item .detail-info-product-view .product.attribute.sku .type{display: inline-block; vertical-align: middle;}
button.action.primary.checkout {background: #81be41 !important;}
table#my-orders-table .price-excluding-tax .price{font-size: 18px !important; font-weight: normal;}
table#my-orders-table li.item > .title{font-size: 13px !important; font-weight: 600;    line-height: 21px;}
.lof-autosearch .category-filter{width: 130px !important;}
.authorize_custom > div, .authorize_custom div.AuthorizeNetSeal a {display: inline-block; }
.actions-toolbar.order-actions-toolbar a.action.print {background: #9AD85B !important;}
a.action.print > span {color: #fff !important;}
.block.block-order-details-view strong.box-title > span {
    font-size: 20px !important;
    margin-bottom: 5px !important;
    display: inline-block;
    font-weight: normal !important;
}
h1 > span {
    margin-bottom: 5px;
}
.actions-toolbar.order-actions-toolbar .actions > a:first-child {
    height: 38px;
    display: inline-flex;
    align-items: center;
}
.order-details-items.ordered .order-title > strong {
    margin-top: 5px;
}

ul.items.order-links {
    padding-bottom: 10px;
}

.customer-address-index .block.block-addresses-default {overflow: hidden;}
.customer-address-index .block.block-addresses-default .block-content > div.box {float: left; width: 50%;}
.customer-address-index .block.block-addresses-default .block-title, .block.block-addresses-list > .block-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.customer-address-index .block.block-addresses-default .block-title > strong, .block.block-addresses-list > .block-title > strong {font-size: 20px;}
.customer-address-index .block.block-addresses-default .block-content > div.box strong.box-title > span {color: #000 !important;}
table#quote-table {overflow: auto; display: block;}
.header-container .header-content .minicart-wrapper .block-minicart .subtotal .price-container .price {
    font-weight: normal;
    letter-spacing: 0.6px;
    color: #000 !important;
}

.product-tab, .hot-deal, .group-product, .banner-middle, .section-bestseller, .section-brands, .list-service, .page-footer, .footer-container, .footer-bottom, .section-featured-categories{
    margin-top: 30px;
}
.hot-deal, .banner-middle, .section-brands {
    margin: 0 !important;
}
div#modal-content-71 > div {line-height: 1.4;}

div#modal-content-71 {padding: 10px;}

aside.modal-popup.confirm._show footer.modal-footer {padding: 10px;}
div#minicart-content-wrapper {margin-top: 18px;}
form#quoteble-form .fieldset > .field {margin: 0;}
.customer-review.view h2.product-name {margin-bottom: 10px; font-size: 25px;}
.price-including-tax .price, .price-excluding-tax .price {font-weight: normal; font-size: 18px;}
.page-title-wrapper .order-date{margin-top: 0;}
.order-details-items.invoice .order-title a.action.print, .order-details-items.shipments .order-title a.action.print, .order-details-items.creditmemo .order-title a.action.print{float: right;}
.order-details-items.shipments a.action.track {
    float: right;
    padding-right: 10px;
    height: 38px;
    display: flex;
    align-items: center;
}
.lof-autosearch .ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
tr.totals.discount span.title {
    font-weight: normal;
    line-height: 1.5;
    font-size: 15px;
}
.one-step-checkout input[type="text"], .checkout-payment-method .ccard .cvv .input-text {
    padding: 10px !important;
    height: 42px !important;
}
#billing-new-address-form .field{margin-right: 5px !important;}
fieldset#billing-new-address-form > div:nth-child(3), div#shipping-new-address-form  > div:nth-child(3) {width: 100%; margin-right: 0;}
/*div#shipping-new-address-form {overflow: hidden;}*/
div#shipping-new-address-form  > div:nth-child(3){padding-right:25px;}
#billing-new-address-form .street{margin: 0 0 15px 0 !important;}
a.action.tocompare.compare-link {display: none !important;}

table#my-reviews-table tbody tr td, .review-title, .review-content {word-break: break-word;}
.wrapper.list.products-list .product-info-cart .product-extra-link .wishlist-link.action.towishlist {
    left: 155px;
}
button.action.apply.primary {background: #81be41 !important;}
.product.customQuoteble>div:not(.product-item-details){margin-bottom: 15px;}
div#checkout-payment-method-load .payment-method form.form .control input{height: 42px !important;}
form#discount-coupon-form button.action.cancel.primary {background: #81be41 !important;}

@media only screen and (min-width: 322px) and (max-width: 767px){
    .smart-search-form input[type=text] {width: 100%;}
    .search-autocomplete {
        width: 100% !important;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
@media only screen and (width: 320px){
    .smart-search.lof-autosearch .ui-autocomplete {
        width: 82% !important;
        left: 51px !important;
    }
}
@media only screen and (max-width: 767px){
    /*Regarding wishlist qty align*/
    body.account.wishlist-index-index .box-tocart .field.qty span {line-height: 25px;padding: 0 10px;}
    /*upgrades wishlist*/
    .wishlist-index-index .limiter-text , .wishlist-index-index .limiter-label {margin-top: 15px !important;padding-left:5px}
    .wishlist-index-index .limiter {padding-top: 5px;}
    /*Upgrades Qty when edit from Cart page*/
    .box-tocart .field.qty {display: flex !important;}
    .box-tocart .field.qty>* {width: auto !important;}


    /*End*/
    .lof-autosearch .ui-autocomplete-loading {background: #fff url(../../../../../frontend/Magento/blank/en_US/Lof_Autosearch/css/image/ajax-loader.gif) no-repeat 80% !important;background-position: center right 68px;}
    .lof-autosearch .ui-menu-item .product button.action.tocart.primary{margin-left: 0 !important;}
    .minicart-items-wrapper .product.customQuoteble .product-item-details {width: calc(100% - 69px)!important;}
    .hot-deal, .section-brands, .banner-middle {display: none;}
    body button#add_coupon_code_button{margin-top: 0 !important;}
    .minicart-items-wrapper .product-item-details {position: relative;}
    form#discount-coupon-form .actions-toolbar {overflow: hidden;}
    .order-review-info .opcheckout-discount .actions-button{margin-top: 22px;}
    .message.warning{font-size: 12px; padding: 25px 5px !important;}
    .shipping-address-items .shipping-address-item .actions{width: 50%;}
    .order-details-items {overflow: hidden;}
    .order-title > strong {font-size: 20px !important;}
    form#quoteble-form {
        max-height: 300px;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 0;
        width: 100%;
    }

    .header-container .header-content .minicart-wrapper .product .actions{top: 20 !important;}
    #checkout-step-shipping .action-add-new-address{float: left !important; margin: 15px 21px 21px 0 !important;}
    .cart.table-wrapper .col.qty:before, .cart.table-wrapper .col.price:before, .cart.table-wrapper .col.subtotal:before, .cart.table-wrapper .col.msrp:before {
        content: none;
    }
    .table-comparison .cell.label .attribute.label{ white-space: normal;}
    .table-comparison .cell .attribute.value{word-break: break-all; white-space: normal;}
    .customer-address-index .block.block-addresses-default .block-content > div.box{float: none; width: 100%;}
    form#wishlist-view-form button.action.tocart.primary {padding: 0 10px;}
    ul.items.order-links{padding: 10px 0;}
    .table-wrapper.order-items table#my-orders-table tr > td:first-child {padding-top: 5px;}
    .order-details-items.ordered .actions-toolbar {overflow: hidden;}
    table#my-orders-table tbody tr > td {text-align: left;}
    .account .block-order-details-view .block-content .box {width: 100%;float: none;min-height: initial;}
    .authorize_custom > div {width: 225px;}
    div.AuthorizeNetSeal a img{width: 58px;}
    .footer-bottom .authorize_custom {text-align: right;}
    .AuthorizeNetSeal {width: 60px !important;}
    .product.customQuoteble .product-item-pricing {float: none !important;}
    .lof-autosearch .ui-menu-item button.action.tocart.primary {
        float: left;
        margin: 10px 0;
    }
    .lof-autosearch .ui-menu-item .info {
        overflow: hidden;
        clear: both;
        text-align: left;
        line-height: 1.5;
    }
    table#customQuoteCheckout .product.customQuoteble .product-item-details>.product-item-name{
        width: 55% !important;
        padding-left: 15px;
    }
    tr.totals.shipping.excl > th > span {display: inline-block; vertical-align: middle;}
    #checkout-step-shipping .action-add-new-address{    margin: 0 0 21px 0;}
    .cart.table-wrapper td.col.qty {border-top: 1px solid #eee !important;}
    .cart.table-wrapper .col.qty, .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp{display: table-cell !important; float: none !important;}
    .cart.table-wrapper{overflow: auto !important;}
    .cart.table-wrapper .cart.items .col{padding: 10px !important;}
    .actions-toolbar > .primary:last-child, .actions-toolbar > .secondary:last-child{float: left;}
    footer.page-footer.footer.default {margin-top: 20px;}
    .block.block-addresses-default {margin-bottom: 18px;}
    .block.block-addresses-default .block-title > strong {color: #333;}
    .block.block-addresses-list .block-title > strong {color: #333;}
    .box.box-address-shipping > strong > span {color: #333 !important;}
    .box.box-address-shipping {margin-top: 18px;}
    .sidebar .product-items .product-item, .block.block-reorder {margin-bottom: 0 !important;}
    form#reorder-validate-detail .secondary{text-align: left;}
    .page-title-wrapper .page-title .base {
        font-size: 14px;
    }

    .checkout-success {
        text-align: left;
    }
    .product-tab, .hot-deal, .group-product, .banner-middle, .section-bestseller, .section-brands, .list-service, .page-footer, .footer-container, .footer-bottom{
        margin-top: 15px;
    }
    .lof-autosearch .ui-autocomplete{width: 100% !important; left: 0 !important; max-width: 100% !important;}
    .cart.table-wrapper .product-item-details{padding: 0 10px;}
    #one-step-checkout-form .checkout-review-load .data-table tbody th > span.label {
        line-height: 1.5;
        white-space: normal;
    }
    .one-step-checkout .address-information #shipping.shipping_address{border:medium none;}
    .one-step-checkout .address-information #shipping.shipping_address div#checkout-step-shipping{
        border: 1px solid #ebebeb;
        border-top: medium none !important;
    }
    #maincontent .page-title-wrapper, .account .page.messages{margin-bottom: 10px !important;}
    .cart.table-wrapper .col.qty, .cart.table-wrapper .col.price, .cart.table-wrapper .col.subtotal, .cart.table-wrapper .col.msrp{width: 33.33% !important;}
    .account .page-main, .cms-privacy-policy .page-main {
        padding-top: 0 !important;
    }
    .block-dashboard-info .box-information, .block-dashboard-info .box-newsletter, .block-dashboard-addresses .box-billing-address, .block-dashboard-addresses .box-shipping-address{
        margin-bottom: 5px !important;
    }
}
@media only screen and (min-width: 640px) and (max-width: 767px){

    form#wishlist-view-form .products-grid.wishlist .product-item .box-tocart {
        float: none;
    }
}
@media only screen and (max-width: 371px){
    .attr-info .addcart-link, .product-social-extra{
        margin: 10px 0 !important;
    }
    .addcart-link button{padding: 0 10px;}
    .product-info-cart .product-extra-link .wishlist-link.action.towishlist{left: 110px;}
}
.form.minisearch .smart-search-form input[type="text"]{padding-right: 68px;}
@media only screen and (min-width: 768px) and (max-width: 991px){
    /*.attr-info .addcart-link, .product-social-extra {
        margin: 10px auto !important;
        text-align: center;
      }*/
    .cart-container .form-cart{width: 65%;}
    .cart-container .cart-summary{width: 33%;}
}
@media only screen and (min-width: 768px){
    /*upgrades for address block*/
    .customer-address-index .block.block-addresses-default .block-content > div.box {width:48%;margin: 0 5px;}
    .products-grid.wishlist .product-item  {min-height: 561px !important;}
    /*End*/
    .table-wrapper.order-items-creditmemo {overflow-x: auto;}
    form#discount-form button#remove_coupon_code_button {margin-top: 20px;}
    .cart-container .form-cart{width: 65%;}
    .cart-container .cart-summary{width: 33%;}
    .smart-search-form .ui-autocomplete .info {overflow: hidden; padding-left: 15px;}
    .smart-search-form .ui-autocomplete .info > div {padding-bottom: 10px;}
    .lof-autosearch .ui-autocomplete-loading {background: #fff url(../../../../../frontend/Magento/blank/en_US/Lof_Autosearch/css/image/ajax-loader.gif) no-repeat 83% !important;}
    .cart.table-wrapper{overflow-x: auto; overflow-y: hidden;}
    .products-grid.wishlist .product-item{min-height: 561px !important;} /*for wishlist page grid equal*/
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
    .custommenu.navigation li.level0 > .level-top, .title-category-dropdown{font-size: 9px !important;}
    table#shopping-cart-table tbody.cart.item tr td {padding-left: 10px; padding-right: 10px;}
    table#my-reviews-table tbody tr td{word-break: normal !important;}
    .table-wrapper.reviews {overflow-x: auto;}
    .field-tooltip .field-tooltip-content{left: -270px !important; top: 12px !important;}
    .field-tooltip .field-tooltip-content:before, .field-tooltip .field-tooltip-content:after{
        right: -20px;
        top: -6px;
        transform: rotate(180deg);
    }
    /*upgrades For Industrial Computers*/
    .wrapper-bestseller.cat h4 {width:40%; text-align:center;}

}
@media only screen and (max-width: 480px){
    .product-tab, .hot-deal, .group-product, .banner-middle, .section-bestseller, .section-brands, .list-service, .page-footer, .footer-container, .footer-bottom, .section-featured-categories{
        margin-top: 30px !important;
    }
    .smart-search-form input[type=text]{padding-left: 10px;}
    .section-bestseller, .section-featured-categories {margin-top: 0;}
    .order-links .item > a, .order-links .item > strong, .opcheckout-index-index .payment-method-title label > span {font-size: 12px !important;}
    .order-details-items.invoice .order-title a.action.print, .order-details-items.shipments .order-title a.action.print, .order-details-items.creditmemo .order-title a.action.print{
        float: none;
        display: block;
        width: 150px;
        text-align: center;
    }
}
@media only screen and (min-width: 321px) and (max-width: 423px){
    .attr-info button#product-addtocart-button {
        margin: 0;
    }

    .attr-info .product-social-extra {
        margin: 10px 0;
    }
}
@media only screen and (min-width: 860px) and (max-width: 1200px){
    .field .message.warning {
        padding: 28px 4px;
        font-size: 10px;
    }
}
body.page-print .sticky-notification-bar {
    display: none;
}body.page-print div#header {
     display: none;
 }
body.page-print small.copyright {
    display: block !important;
    text-align: center;
}

.review-content {
    line-height: 1.6;
}
.checkout-index-index .payment-method form.form .control input {
    height: 42px !important;
}
.lof-autosearch .ui-menu-item .product img {width: 100px;}
.lof-autosearch .ui-menu-item .product div{padding-bottom:5px;}
.lof-autosearch .ui-menu-item .product button.action.tocart.primary{margin-left: 15px;}
.lof-autosearch .info .name span{text-decoration:none !important;}
.footer-container span.linkedin:before {
    content: "\f0e1";
    font-family: FontAwesome;
    font-size: 20px;
    color: #71737a;
    padding-right: 15px;
}
.footer-container span.insta:before {
    content: "\f16d";
    font-family: FontAwesome;
    font-size: 20px;
    color: #71737a;
    padding-right: 15px;
}

/*For navigation menus*/
.main-nav ul li .subchildmenu > li.parent > a:before {
    content: "\f105";
    font-family: fontawesome;
    right: 0px !important;
    top: 12px !important;
    position: absolute;
    font-size: 14px !important;
}.main-nav ul li .subchildmenu > li > a:after, .main-nav ul li .subchildmenu > li.parent > a:after{
     content:none !important;
 }
.custommenu.navigation .subchildmenu.mega-columns > li.parent:hover > .subchildmenu {
    opacity: 1 !important;
    visibility: visible !important;
}.custommenu.navigation .subchildmenu.mega-columns > li:hover .subchildmenu {
     opacity: 0;
     visibility: hidden;
 }.custommenu.navigation .subchildmenu > li:hover > .subchildmenu {
      opacity: 1;
      visibility: visible;
  }
.main-nav ul li:hover .subchildmenu > li.parent:hover > .subchildmenu {
    opacity: 1;
    visibility: visible;
}

/*.is-downloadable{
    padding: 8px 0;
    font-weight: 500 !important;
}*/
.wrapper.list.products-list .is-downloadble,.wrapper.grid.products-grid .is-downloadble {
    color: #666 !important;
    font-weight: 500 !important;
    margin: 5px 0;
}

.product-grid .item-product .content-item-product{min-height:461px;}
.downloadable-additional-message{margin-bottom: 8px;}
/*After upgrades Css 25-Apr-19*/
/*For Wishlist Limiter*/
.wishlist-index-index .limiter-text , .wishlist-index-index .limiter-label {margin-top: 10px !important;}
.wishlist-index-index .limiter > * {display: inline-block;}

/*Address*/
address {word-break: break-all;}
.block.block-addresses-default .block-content {overflow: hidden;}

/*Request a Quote*/
#mailcotentarea1 #maincontent {min-width: 290px !important;}
/*Product height*/
.product-grid .item-product .content-item-product {min-height: 450px !important;}

/*For search in responsive*/
@media only screen and (max-width: 479px) {
    .lof-autosearch .button-search {bottom:1px !important;}
}
/*For Category page*/
@media (max-width:500px) {
    main#maincontent {width: 100%;}
}
.main-nav ul li .subchildmenu > li.parent > a:before {
    content: "\f105";
    font-family: fontawesome;
    right: 0px !important;
    top: 12px !important;
    position: absolute;
    font-size: 14px !important;
}

.main-nav ul li .subchildmenu > li > a:after, .main-nav ul li .subchildmenu > li.parent > a:after{
    content:none !important;
}
.custommenu.navigation .subchildmenu.mega-columns > li.parent:hover > .subchildmenu {
    opacity: 1 !important;
    visibility: visible !important;
}

.custommenu.navigation .subchildmenu.mega-columns > li:hover .subchildmenu {
    opacity: 0;
    visibility: hidden;
}

.custommenu.navigation .subchildmenu > li:hover > .subchildmenu {
    opacity: 1;
    visibility: visible;
}
.main-nav ul li:hover .subchildmenu > li.parent:hover > .subchildmenu {
    opacity: 1;
    visibility: visible;
}
body.checkout-cart-index form#co-shipping-method-form input {display: inline !important;vertical-align: top;}

/*Checkout Page*/
.checkout-index-index .one-step-checkout .input-text {padding: 0 !important; height: 42px !important}
body.checkout-cart-index .page-title h2 {font-size: 25px;}

/*Reorder text spacing*/
ol#cart-sidebar-reorder a span {padding-left: 5px;}

/*Cart page button*/
@media(max-width:767px) {
    .cart.main.actions button.custom-clear {width: 100%;margin: 5px 0;}
}
/*Wishlist layout*/
@media (min-width: 640px){
    body.account.wishlist-index-index .products-grid .product-item {
        width: 32.333333%;}
}
